unpackaged/main/default/flows/Agent_Work_Flow_to_Update_Case_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Case_Record_Assignemnt</name>
        <label>Case Record Assignemnt</label>
        <locationX>665</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>objCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Chat_Transcript.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Chat_Transcript.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Chat_Transcript.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Chat_Transcript.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Check</name>
        <label>Case Check</label>
        <locationX>785</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Case Not Found</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Chat_Transcript.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Assignemnt</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agent Work Flow to Update Case Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Work Flow to Update Case Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Chat_Transcript</name>
        <label>Fetch Chat Transcript</label>
        <locationX>782</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>663</locationX>
        <locationY>682</locationY>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Fetch_Chat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkItemId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>570</stringValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
