unpackaged/main/default/flows/Case_Count_the_Number_of_Accounts_for_Related_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assign the Total Count of Account Contact Relationships</description>
        <name>Assign_the_Total_Count_of_Account_Contact_Relationships</name>
        <label>Assign the Total Count of Account Contact Relationships</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countAcctContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementCountAccountContactRelations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <description>Case Count the Number of Accounts for Related Contact</description>
    <formulas>
        <description>Increments theAccount Contact Relationship</description>
        <name>IncrementCountAccountContactRelations</name>
        <dataType>Number</dataType>
        <expression>{!countAcctContact}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case Count the Number of Accounts for Related Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Count the Number of Accounts for Related Contact</label>
    <loops>
        <description>Loop thru Account Contact Relationships</description>
        <name>Loop_Through_Account_Contact_Relationship</name>
        <label>Loop Through Account Contact Relationship</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>curAccountContactRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Total_Count_of_Account_Contact_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Record_with_Count_of_Contact_Relationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the Account Contact Relationships for the Contact</description>
        <name>Get_Account_Contact_Relationship_Count</name>
        <label>Get Account Contact Relationship Count</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>curAccountContactRelationships</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Case Record with Count of Contact Relationship</description>
        <name>Update_Case_Record_with_Count_of_Contact_Relationship</name>
        <label>Update Case Record with Count of Contact Relationship</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_Related_Accounts_for_Contact__c</field>
            <value>
                <elementReference>countAcctContact</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationship_Count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Counts of the Contact Relationship</description>
        <name>countAcctContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts all the Account Contact Relationships for the Contact</description>
        <name>curAccountContactRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>passed in Case Id</description>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
