unpackaged/main/default/flows/Chats_Routed_to_Agents_with_the_Right_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillA</name>
        <label>Add Skill A</label>
        <locationX>514</locationX>
        <locationY>883</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;0C53u000000L2OtCAK&quot;,&quot;skillLabel&quot;:&quot;C-More&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillB</name>
        <label>Add Skill B</label>
        <locationX>776</locationX>
        <locationY>878</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;0C53u000000L2OuCAK&quot;,&quot;skillLabel&quot;:&quot;C-More Micro&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillC</name>
        <label>Add Default Skill</label>
        <locationX>1040</locationX>
        <locationY>878</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;&quot;,&quot;skillLabel&quot;:&quot;[REPLACE ME]&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.
This example shows routing to a collection of Skill Requirements which were defined previously in the Flow via the Add Skill Requirements actions.</description>
        <name>RouteChat</name>
        <label>Route Chat by Skill</label>
        <locationX>777</locationX>
        <locationY>1094</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93u000000DaWtCAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9DQ000000Gmg0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>This example node saves the value of the Subject field in the pre-chat list to a variable in the Flow.</description>
        <name>CaptureSubject</name>
        <label>Capture Subject</label>
        <locationX>1065</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.Parent.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.Parent.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.Parent.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This example decision node looks at the Subject entered by the Customer in the pre-chat form, and uses it to determine whether to add Skill A or Skill B.</description>
        <name>AddSkillDecision</name>
        <label>Which Skill Should be Added?</label>
        <locationX>776</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AddSkillC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Skills</defaultConnectorLabel>
        <rules>
            <name>C_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-More</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillA</targetReference>
            </connector>
            <label>C-More</label>
        </rules>
        <rules>
            <name>C_More_Micro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-More Micro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillB</targetReference>
            </connector>
            <label>C-More-Micro</label>
        </rules>
    </decisions>
    <description>Routes each chat to an agent with the required skills based on conditions that you define.</description>
    <environments>Default</environments>
    <interviewLabel>Chats Routed to Agents with the Right Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chats Routed to Agents with the Right Skills</label>
    <loops>
        <description>This example node iterates through each of the pre-chat variables so the values that the customer entered can be used in the flow decision.</description>
        <name>PrechatLoop</name>
        <label>Loop Over PreChat Entries</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CaptureSubject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddSkillDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ChatUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PreChat1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
