unpackaged/main/default/flows/Chat_Skills_from_Classic_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Single_Skill</name>
        <label>Assign Single Skill</label>
        <locationX>1023</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>SingleServiceResourceSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ServiceReourceSkills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ServiceReourceSkills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Service_Resource_Exist</name>
        <label>Does Service Resource Exist?</label>
        <locationX>830</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>Create_ServiceResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Resource</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ServiceResourceSkill</targetReference>
            </connector>
            <label>Service Resource Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSkill</name>
        <label>IsSkill?</label>
        <locationX>1016</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>ISSkillName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ServiceReourceSkills.Skill.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SkillName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ServiceReourceSkills.SkillLevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SkillLevelNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Skill</targetReference>
            </connector>
            <label>ISSkillName</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SkillLevelNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SkillLevel})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Chat Skills from Classic Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Skills Omni-Channel Lightning</label>
    <loops>
        <name>Loop_ServiceReourceSkills</name>
        <label>Loop ServiceReourceSkills</label>
        <locationX>888</locationX>
        <locationY>1066</locationY>
        <collectionReference>Get_ServiceResourceSkill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsSkill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ServiceResourceSkill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ServiceResource</name>
        <label>Create ServiceResource</label>
        <locationX>720</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceType</field>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ServiceResourceSkill</name>
        <label>Get ServiceResourceSkill</label>
        <locationX>892</locationX>
        <locationY>899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ServiceReourceSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_Detail</name>
        <label>Get Skill Detail</label>
        <locationX>897</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServiceResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SkillDetail</elementReference>
            </value>
        </filters>
        <object>Skill_Detail__c</object>
        <outputAssignments>
            <assignToReference>SkillName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill_User_Record</name>
        <label>Get Skill User Record</label>
        <locationX>777</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Skill_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Skill_User__c</object>
        <outputAssignments>
            <assignToReference>SkillUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SkillDetail</assignToReference>
            <field>Skill_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SkillLevel</assignToReference>
            <field>Skill_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetServiceResource</name>
        <label>GetServiceResource</label>
        <locationX>838</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Service_Resource_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_ServiceResourceSkill</name>
        <label>Update ServiceResourceSkill</label>
        <locationX>892</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleServiceResourceSkill.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <elementReference>SkillLevelNumber</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResourceSkill</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Skill_User_Record</targetReference>
        </connector>
        <object>Skill_User__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllSkillUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProfileSkillUser</objectType>
    </variables>
    <variables>
        <name>ProfileSkillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceSkillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleServiceResourceSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>SingleSkillID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleUserId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProfileSkillUser</objectType>
    </variables>
    <variables>
        <name>SkiallLevelNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SkillDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProfileSkillUser</objectType>
    </variables>
    <variables>
        <name>SkillUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
