unpackaged/main/default/flows/Contact_Inactive_update_emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Contact_ACK_Email</name>
        <label>Contact ACK Email</label>
        <locationX>569</locationX>
        <locationY>1146</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Contact_ACK_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ACK</targetReference>
            </connector>
            <label>Decision Contact ACK email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Matches</name>
        <label>Email Matches</label>
        <locationX>771</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>Email_Matches_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACK_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACKEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACK_Email</targetReference>
            </connector>
            <label>ACK email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Matches_0</name>
        <label>Account Email Matches</label>
        <locationX>570</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>Email_Matches_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Email_update</targetReference>
            </connector>
            <label>Account Email Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Matches_0_0</name>
        <label>Ship-to Email Matches</label>
        <locationX>769</locationX>
        <locationY>981</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ship_To_Email_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShipToEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updte_Ship_to</targetReference>
            </connector>
            <label>Ship To Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecordEmail</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Email},&#39;.inactive&#39;,&#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Contact Inactive update emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Inactive update emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>775</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ship_To</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Acknowledgment_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ACKEmail</assignToReference>
            <field>Acknowledgment_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_To</name>
        <label>Get Ship To</label>
        <locationX>775</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordEmail</elementReference>
            </value>
        </filters>
        <object>Ship_To_Addresses__c</object>
        <outputAssignments>
            <assignToReference>ShipToEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShipToId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Account_Email_update</name>
        <label>Account Email</label>
        <locationX>773</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Email_Matches_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACK_Email</name>
        <label>Update ACK Email</label>
        <locationX>553</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Email_Matches_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acknowledgment_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_ACK</name>
        <label>Update Contact ACK</label>
        <locationX>784</locationX>
        <locationY>1150</locationY>
        <inputAssignments>
            <field>Acknowledgment_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updte_Ship_to</name>
        <label>Updte Ship to</label>
        <locationX>577</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShipToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Ship_To_Addresses__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACKEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
