unpackaged/main/default/flows/Count_Flagged_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>TotalContacts</name>
        <label>TotalContacts</label>
        <locationX>200</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>TotalContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>curAccountContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountContacts</targetReference>
        </connector>
    </assignments>
    <description>This flow does a roll up count of the Flagged Contacts on an Account.</description>
    <interviewLabel>Count Flagged Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Flagged Contacts</label>
    <loops>
        <name>CountContacts</name>
        <label>CountContacts</label>
        <locationX>198</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>Contacts</assignNextValueToReference>
        <collectionReference>curAccountContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>204</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flag_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curAccountContacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>447</locationX>
        <locationY>212</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Contacts_Flagged__c</field>
            <value>
                <elementReference>TotalContactCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Contact_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curAccountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Number_of_Flagged_Contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
