unpackaged/main/default/flows/Create_Backline_Escalation_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Agency_Approval</name>
        <label>Assign Agency Approval</label>
        <locationX>621</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>varAgencyApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_this_is_for_an_Agency_Approval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agency_Approval_IS_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Agency_Approval_2</name>
        <label>Assign Agency Approval</label>
        <locationX>624</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>varAgencyApproval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_this_is_for_an_Agency_Approval_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agency_Approval_IS_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Null</name>
        <label>Assign Value to Null</label>
        <locationX>755</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOriginalCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductNoRelated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agency_Approval_IS_TRUE</name>
        <label>Agency Approval IS TRUE</label>
        <locationX>849</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>ReferenceCustomMetadataRecordtypeid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotAgencyApproval</defaultConnectorLabel>
        <rules>
            <name>Is_Agency_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgencyApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReferenceCustomMetadataAgencyApproval</targetReference>
            </connector>
            <label>Is Agency Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseNumber_is_NULL</name>
        <label>CaseNumber is NULL</label>
        <locationX>285</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>Related_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseNumber_is_NULL_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.CaseNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Related_Record_Screen_2</targetReference>
            </connector>
            <label>CaseNumber is NULL value</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Product_Value</name>
        <label>No Product Value</label>
        <locationX>277</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>GetProductNoRelated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Case Exists</defaultConnectorLabel>
        <rules>
            <name>If_Case_Product_and_Case_ParentID_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.CaseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_parent_Case</targetReference>
            </connector>
            <label>If Case.Product and Case.ParentID= Null</label>
        </rules>
        <rules>
            <name>If_Case_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Related_Record_Screen</targetReference>
            </connector>
            <label>If Case.Product = Null</label>
        </rules>
    </decisions>
    <description>Creating Backline Escalation Case from existing Case.</description>
    <formulas>
        <name>f_IsAgencyApproval</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Check_if_this_is_for_an_Agency_Approval}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Create Backline Escalation from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Backline Escalation from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOriginalCase</name>
        <label>GetOriginalCase</label>
        <locationX>156</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Product_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Silo__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductNoRelated</name>
        <label>GetProductNoRelated</label>
        <locationX>293</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseNumber_is_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varSiloRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Silo__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReferenceCustomMetadataAgencyApproval</name>
        <label>ReferenceCustomMetadataAgencyApproval</label>
        <locationX>1319</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Approval</stringValue>
            </value>
        </filters>
        <object>Silos_and_Questionnaire__mdt</object>
        <outputReference>varGetCustomMetadata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReferenceCustomMetadataRecordtypeid</name>
        <label>ReferenceCustomMetadataRecordtypeid</label>
        <locationX>1319</locationX>
        <locationY>759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSiloRecord.Silo__c</elementReference>
            </value>
        </filters>
        <object>Silos_and_Questionnaire__mdt</object>
        <outputReference>varGetCustomMetadata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Id__c</queriedFields>
    </recordLookups>
    <screens>
        <name>No_parent_Case</name>
        <label>No parent Case</label>
        <locationX>540</locationX>
        <locationY>24</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Value_to_Null</targetReference>
        </connector>
        <fields>
            <name>PartNumberInputCustom2</name>
            <extensionName>c:customLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCaseRecord.Product__c</assignToReference>
                <name>varSelectedProduct</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Related_Record_Screen</name>
        <label>No Related Record Screen</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetProductNoRelated</targetReference>
        </connector>
        <fields>
            <name>NoRelatedScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter a Part Number to create a Backline Escalation Case:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartNumberInputCustom</name>
            <extensionName>c:customLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCaseRecord.Product__c</assignToReference>
                <name>varSelectedProduct</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Related_Record_Screen_2</name>
        <label>No Related Record Screen</label>
        <locationX>516</locationX>
        <locationY>617</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Agency_Approval_2</targetReference>
        </connector>
        <fields>
            <name>RelatedRecordText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click Next to create a Backline Escalation case with the following information:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Part Number: &lt;/b&gt;{!varSiloRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_if_this_is_for_an_Agency_Approval_2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check if this is for an Agency Approval</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Related_Record_Screen</name>
        <label>Related Record Screen</label>
        <locationX>505</locationX>
        <locationY>749</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Agency_Approval</targetReference>
        </connector>
        <fields>
            <name>RelatedRecordText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click Next to create a Backline Escalation case with the following information:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Part Number: &lt;/b&gt;{!varSiloRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Parent Case: &lt;/b&gt;{!varCaseRecord.CaseNumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt; {!varCaseRecord.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_if_this_is_for_an_Agency_Approval</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check if this is for an Agency Approval</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOriginalCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varAgencyApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCustomMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varGetCustomMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Silos_and_Questionnaire__mdt</objectType>
    </variables>
    <variables>
        <name>varOriginalCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSilo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSiloRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
