unpackaged/main/default/flows/Docuvault_File_Send_Multiple_Project_Teamers_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Selected_Teamer</name>
        <label>Send Email to Selected Teamer</label>
        <locationX>858</locationX>
        <locationY>2004</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>customNotificationbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!ProjectName}/{!FileName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Recipients</name>
        <label>Send Notification to Recipients</label>
        <locationX>397</locationX>
        <locationY>1749</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Assign_Status_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>customNotificationbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Documentation Notification for {!FileName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddRecipients_List_for_Ops_Form</name>
        <label>AddRecipients List for Ops Form</label>
        <locationX>428</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTeamerRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Opsform_Photospec_Review_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign new VarTeamRecordName</label>
        <locationX>1103</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Get_Project_Team.inspire1__Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Teamer_Record_to_Teamer_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_an_email_list</name>
        <label>Assign an email list</label>
        <locationX>1079</locationX>
        <locationY>1758</locationY>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_email_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ops_Form_Teamer_Collectin</name>
        <label>Assign Ops Form Teamer Collectin</label>
        <locationX>235</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>varTeamerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTeamerRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRecipients_List_for_Ops_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ops_Form_Teamer_Record</name>
        <label>Assign Ops Form Teamer Record</label>
        <locationX>106</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>varTeamerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opsform_Photospec_Review_Group_Team_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ops_Form_Teamer_Collectin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name_and_Project_Manager</name>
        <label>Assign Project Name and Project Manager</label>
        <locationX>577</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>ProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiloMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Silo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlannedStartMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Planned_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlannedFinishMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Planned_Finish__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPlartsMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.No_of_parts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PercentCompleteMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.inspire1__Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projected3rdYearSalesMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Projected_3rd_Year_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineExtMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Line_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuppliersNameMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Supplier_s_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSupplierMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.New_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CutToLengthMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Value_Add_Services_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISOPurchaseOrderNoMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.ISO_Purchase_Order_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISODeliveryDateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.ISO_Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStockingOrderDolAmountMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Initial_Stock_Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManualRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Manual_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimatedNoofOnlineTechnicalPagesMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Estimated_of_Online_Technical_Pages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstNoOfPhotosMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Est_No_of_photos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductInsertorSupplementorQSGMessge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Product_insert_or_supplement_or_QSG_requ__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectPTMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Update</name>
        <label>Assign Status Update</label>
        <locationX>438</locationX>
        <locationY>1976</locationY>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Checkin Comments:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sent To:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmails2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEmailsExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Teamer_Record</name>
        <label>Assign Teamer Record</label>
        <locationX>1086</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTeamerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Teamer_Record_to_Teamer_Collection</name>
        <label>Assign Teamer Record to Teamer Collection</label>
        <locationX>997</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>varTeamerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTeamRecordNewwithRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecipientIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipientIds</name>
        <label>AssignRecipientIds</label>
        <locationX>936</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Get_Project_Team.inspire1__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Get_Project_Team</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CollectionSortbyTeamer</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>CollectionSortbyTeamer</label>
        <locationX>873</locationX>
        <locationY>409</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Team</collectionReference>
        <connector>
            <targetReference>GetProjectName</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>inspire1__Resource_Name__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>inspire1__Role__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_VarSelectedTeamer_Collection_by_Email</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort VarSelectedTeamer Collection by Email</label>
        <locationX>614</locationX>
        <locationY>1534</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varTeamerCollection</collectionReference>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Email</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Current_email_is_not_null</name>
        <label>Current email is not null</label>
        <locationX>1147</locationX>
        <locationY>1925</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailisNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Selected_Teamer_Collection.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Selected_Teamer</targetReference>
            </connector>
            <label>EmailisNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCurrentEMailNOTSameasLast</name>
        <label>IsCurrentEMailNOTSameasLast</label>
        <locationX>931</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentEMailNOTSameasDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Selected_Teamer_Collection.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varEmails</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_an_email_list</targetReference>
            </connector>
            <label>IsCurrentEMailNOTSameasDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEmailsExists</name>
        <label>IsEmailsExists</label>
        <locationX>624</locationX>
        <locationY>2179</locationY>
        <defaultConnector>
            <targetReference>No_Teamer_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Current_Item_Item_for_Document</targetReference>
            </connector>
            <label>EmailsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpsform_Photospec_Review_Group_Selected</name>
        <label>IsOpsform/Photospec Review Group Selected</label>
        <locationX>818</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>ProjectTeam_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opsformselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opsform_Photospec_Review_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpsForm_Group_Name</targetReference>
            </connector>
            <label>Opsformselected</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectTeam_Exists</name>
        <label>ProjectTeam Exists?</label>
        <locationX>883</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>NoProjectTeamScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Project Team</defaultConnectorLabel>
        <rules>
            <name>Project_Team_Do_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PTDatatable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opsform_Photospec_Review_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Message</targetReference>
            </connector>
            <label>Project Team Do Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListProjectTeamSelectionCollection</name>
        <collectionReference>Get_Project_Team</collectionReference>
        <dataType>String</dataType>
        <displayField>inspire1__User__c</displayField>
        <object>inspire1__Project_Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListProjectTeamSelectionCollection2</name>
        <collectionReference>varTeamerCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>customNotificationbody</name>
        <dataType>String</dataType>
        <expression>&quot;Project:  &quot; &amp;  {!ProjectName} &amp; BR() &amp;
&quot;File:  &quot; &amp; {!FileName} &amp; BR() &amp; BR() &amp;
&quot;Document Message:&quot; &amp; BR() &amp; 
{!Document_Message} &amp; BR() &amp;
&quot;Check in Comments: &quot; &amp;  BR() &amp; 
{!Comments} &amp; BR() &amp;
&quot;Document LInk: &quot;  &amp; BR() &amp;
{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!DocumentId}</expression>
    </formulas>
    <formulas>
        <name>formImage</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL} &amp; &quot;/&quot; &amp; {!Content_Document_Id}</expression>
    </formulas>
    <formulas>
        <name>formNewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Docuvault File - Send Multiple Project Teamers Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docuvault File - Send Multiple Project Teamers Notification</label>
    <loops>
        <name>Loop_thru_Get_Project_Team</name>
        <label>Loop thru Get Project Team</label>
        <locationX>883</locationX>
        <locationY>628</locationY>
        <collectionReference>PTDatatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Teamer_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsOpsform_Photospec_Review_Group_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Opsform_Photospec_Review_Group_Members</name>
        <label>Loop thru Opsform/Photospec Review Group Members</label>
        <locationX>626</locationX>
        <locationY>1126</locationY>
        <collectionReference>Get_Opsform_Photospec_Review_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Opsform_Photospec_Review_Group_Team_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProjectTeam_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Selected_Teamer_Collection</name>
        <label>Loop thru Selected Teamer Collection</label>
        <locationX>591</locationX>
        <locationY>1686</locationY>
        <collectionReference>varTeamerCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCurrentEMailNOTSameasLast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_to_Recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Current_Item_Feed_on_Project</name>
        <label>Create a Current Item Feed on Project</label>
        <locationX>346</locationX>
        <locationY>2283</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>VarNewStatusUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Current_Item_Item_for_Document</name>
        <label>Create a Current Item Item for Document</label>
        <locationX>636</locationX>
        <locationY>2319</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>VarNewStatusUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_VarSelectedTeamer_Collection_by_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpsForm_Group_Name</name>
        <label>Get OpsForm Group Name</label>
        <locationX>576</locationX>
        <locationY>905</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opsform_Photospec_Review_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opsform/Photospec Review Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opsform_Photospec_Review_Group_Members</name>
        <label>Get Opsform/Photospec Review Group Members</label>
        <locationX>344</locationX>
        <locationY>975</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Opsform_Photospec_Review_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OpsForm_Group_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opsform_Photospec_Review_Group_Team_Record</name>
        <label>Get Opsform/Photospec Review Group Team Record</label>
        <locationX>28</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ops_Form_Teamer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_Opsform_Photospec_Review_Group_Members.Member.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Id_from_Cloud_Files</name>
        <label>Get Project Id from Cloud Files</label>
        <locationX>872</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </filters>
        <object>TVA_CFB__Cloud_Files__c</object>
        <outputAssignments>
            <assignToReference>Comments</assignToReference>
            <field>Check_In_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team</name>
        <label>Get Project Team</label>
        <locationX>872</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectionSortbyTeamer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Teamer_Record</name>
        <label>Get Teamer Record</label>
        <locationX>1084</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Teamer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_Get_Project_Team.inspire1__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectName</name>
        <label>GetProjectName</label>
        <locationX>685</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Project_Name_and_Project_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Enter_Message</name>
        <label>Enter Message</label>
        <locationX>631</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <fields>
            <name>ProjectNameTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Project: {!ProjectName}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentNameScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;File Name: {!FileName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Message</name>
                    <defaultValue>
                        <stringValue>Hi Team,
</stringValue>
                    </defaultValue>
                    <fieldText>Document Message</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CheckinCommentsText</name>
                    <fieldText>&lt;p&gt;Checkin Comments:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Comments</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CheckInCommnts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Comments}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Teamer_Selected</name>
        <label>No Teamer Selected</label>
        <locationX>817</locationX>
        <locationY>2260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTeamerSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Sorry, no teamer(s) were selected to send an email too.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoProjectTeamScreen</name>
        <label>NoProjectTeam</label>
        <locationX>1081</locationX>
        <locationY>1444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoProjectTeam</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Sorry, there are no members of Project Team Identified for this Project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPTMembers</name>
        <label>SelectPTMembers</label>
        <locationX>697</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_thru_Get_Project_Team</targetReference>
        </connector>
        <fields>
            <name>SelectPTMembers_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectPTMembers_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrjectName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectPTMembers_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opsform_Photospec_Review_Group</name>
            <dataType>Boolean</dataType>
            <fieldText>Opsform/Photospec Review Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PTDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>inspire1__Project_Team__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Project_Team</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;inspire1__Resource_Name__c&quot;,&quot;guid&quot;:&quot;column-f86e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Resource Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;inspire1__Role__c&quot;,&quot;guid&quot;:&quot;column-9677&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>753</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Id_from_Cloud_Files</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Document</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Content_Document_Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Content_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CutToLengthMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocumentLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DocumentLinkRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DocumentLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstimatedNoofOnlineTechnicalPagesMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstNoOfPhotosMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitialStockingOrderDolAmountMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InspireTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISODeliveryDateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISOPurchaseOrderNoMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LineExtMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManualRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSupplierMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoOfPlartsMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpsFormUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PercentCompleteMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlannedFinishMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlannedStartMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductInsertorSupplementorQSGMessge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Projected3rdYearSalesMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectManagerText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetProjectName.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiloMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuppliersNameMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValueAddServicesRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDocumentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEMailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmails2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNewStatusUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedTeamerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerSelectedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamRecordNewwithRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
