unpackaged/main/default/flows/Docuvault_CloudFileVersionNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>post_version_notification</name>
        <label>post version notification</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Notification_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Owner</name>
        <label>Check for Owner</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>post_version_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_site_guest_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <label>Is site guest user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Notification_Message</name>
        <dataType>String</dataType>
        <expression>&#39;A new version document has been uploaded  for&#39;+&#39;  &#39;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Docuvault_CloudFileVersionNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docuvault - Version Upload Chatter Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TVA_CFB__Amazon_Version_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TVA_CFB__Cloud_Files__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
