unpackaged/main/default/flows/Docuvault_Salesforce_Task_Files_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Map_Orphan_File_Id</name>
        <label>Map Orphan File Id</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.TVA_CFB__Parent_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Docuvault_OrphanFiles</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Map_to_Project</name>
        <label>Map to Project</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Task.inspire1__Inspire_Task__r.inspire1__Project__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_For_Parent</name>
        <label>Check For Parent</label>
        <locationX>512</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activity_related_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Task</targetReference>
            </connector>
            <label>Activity related File</label>
        </rules>
        <rules>
            <name>Orphan_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Parent_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Orphan_File_Id</targetReference>
            </connector>
            <label>Orphan File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Project</name>
        <label>Check for Project</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_related_to_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Task.inspire1__Inspire_Task__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Task.inspire1__Inspire_Task__r.inspire1__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_to_Project</targetReference>
            </connector>
            <label>Task related to Project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Docuvault - Salesforce Task Files to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docuvault - Salesforce Task Files to Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Related_Task</name>
        <label>Related Task</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Parent</targetReference>
        </connector>
        <object>TVA_CFB__Cloud_Files__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
