unpackaged/main/default/flows/Docuvault_TrackCloudFileHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Filter_Cloud_File_Event</name>
        <label>Filter Cloud File Event</label>
        <locationX>977</locationX>
        <locationY>155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cloud_File_Events</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6 AND 7) OR (8 AND 9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.TVA_CFB__E_Tag__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__E_Tag__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Downloads__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Downloads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Parent_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrphanCloudFiles</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Version__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check_In_Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check_In_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TVA_CFB__Parent_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OrphanCloudFiles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Cloud_File_Events</targetReference>
            </connector>
            <label>Cloud File Events</label>
        </rules>
        <rules>
            <name>TrackVersionHistoryDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.TVA_CFB__Version__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TVA_CFB__Version__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Version_File_Delete</targetReference>
            </connector>
            <label>TrackVersionHistoryDelete</label>
        </rules>
    </decisions>
    <description>V8</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckEventName</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.TVA_CFB__E_Tag__c}), &#39;Created&#39;, 
				IF(ISCHANGED({!$Record.TVA_CFB__Downloads__c}), &#39;Document Downloaded&#39;, 
					IF( AND(ISCHANGED({!$Record.TVA_CFB__Version__c}),{!$Record.TVA_CFB__Parent_ID__c}== 
                    {!$Label.Docuvault_OrphanFiles}), &#39;New Version Uploaded&#39;, 
						IF(AND(ISCHANGED({!$Record.Check_In_Comments__c}),{!$Record.TVA_CFB__Parent_ID__c}== 
                        {!$Label.Docuvault_OrphanFiles}), &#39;Comments Changed&#39;, &#39;&#39;)
			)))</expression>
    </formulas>
    <formulas>
        <name>OrphanCloudFiles</name>
        <dataType>String</dataType>
        <expression>{!$Label.Docuvault_OrphanFiles}</expression>
    </formulas>
    <formulas>
        <name>TrackOrphanFileComments</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISCHANGED({!$Record.Check_In_Comments__c}),{!$Record.TVA_CFB__Parent_ID__c}== 
                        {!$Label.Docuvault_OrphanFiles}), {!$Record.Check_In_Comments__c}, &#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Docuvault_TrackCloudFileHistory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docuvault_TrackCloudFileHistory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Track_Cloud_File_Events</name>
        <label>Track Cloud File Events</label>
        <locationX>853</locationX>
        <locationY>339</locationY>
        <inputAssignments>
            <field>CheckInNotes__c</field>
            <value>
                <elementReference>TrackOrphanFileComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_Files__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>$Record.TVA_CFB__File_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CheckEventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>$Record.TVA_CFB__Version__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cloud_File_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Track_Version_File_Delete</name>
        <label>Track Version File Delete</label>
        <locationX>1111</locationX>
        <locationY>329</locationY>
        <inputAssignments>
            <field>CheckInNotes__c</field>
            <value>
                <elementReference>$Record__Prior.Check_In_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_Files__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>$Record__Prior.TVA_CFB__File_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cloud File Version Deleted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>$Record__Prior.TVA_CFB__Version__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cloud_File_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Filter_Cloud_File_Event</targetReference>
        </connector>
        <object>TVA_CFB__Cloud_Files__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
