unpackaged/main/default/flows/Equifax_Comm_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G3u000002CfXs</stringValue>
        </value>
    </constants>
    <constants>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123u000000iyLFAAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Online Credit Application</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Equifax Comm Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equifax Comm Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Online_Credit_App</name>
        <label>Online Credit App</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Account_Credit_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>ADC_Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditAppStatusInProcess__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineCreditApplication__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Credit Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectLine</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Credit_Field</name>
        <label>Credit Field</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Online_Credit_App</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Credit_Field</name>
        <label>Update Account Credit Field</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Credit_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Class_3_Credit_App_Status__c</field>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Status__c</field>
            <value>
                <stringValue>APPINPRO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Online_Credit_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>forseva1__Signature_I_Agree__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>forseva1__OnlineCreditApplication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
