unpackaged/main/default/flows/Forward_to_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_payments_email_0_0</name>
        <label>Send payments email</label>
        <locationX>863</locationX>
        <locationY>924</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_boxes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_UseSalesforceSignature</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>rmrudd13@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>PaymentAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSalesforceSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_payments_email_0_0_0</name>
        <label>Send payments email</label>
        <locationX>797</locationX>
        <locationY>995</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_boxes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_UseSalesforceSignature</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>CDLs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>rmrudd13@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>PaymentAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSalesforceSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_supplierpayments_email_0</name>
        <label>Send supplierpayments email</label>
        <locationX>496</locationX>
        <locationY>873</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_boxes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_UseSalesforceSignature</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>rmrudd13@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>SupplierPaymentAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSalesforceSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_supplierpayments_email_with_Attachments_0</name>
        <label>Send supplierpayments email with Attachments</label>
        <locationX>501</locationX>
        <locationY>1009</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_boxes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_UseSalesforceSignature</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>CDLs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>rmrudd13@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>SupplierPaymentAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSalesforceSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>All_payment_Email_Messages_0</name>
        <label>All payment Email Messages</label>
        <locationX>935</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>AllEmailMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Messages_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_supplierpayment_Email_Messages</name>
        <label>All supplierpayment Email Messages</label>
        <locationX>450</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>AllSPEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Messages_Supplier_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAttachments</name>
        <label>AssignAttachments</label>
        <locationX>476</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>CDLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttachmentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Email_Message</name>
        <label>Single Email Message</label>
        <locationX>1070</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>SingleEmail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Payments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>rrudd@automationdirect.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmail.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Payments.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Payments.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Payments.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Payments.TextBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_payment_Email_Messages_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Email_Message_0</name>
        <label>Single Email Message</label>
        <locationX>462</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>SingleEmail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Supplier_Payments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupplierPaymentAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>rrudd@automationdirect.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmail.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Supplier_Payments.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Supplier_Payments.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Supplier_Payments.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Messages_Supplier_Payments.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_supplierpayment_Email_Messages</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payment_Group</name>
        <label>Payment Group</label>
        <locationX>634</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Forward_to_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email_Messages_Payments</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Payment</label>
        </rules>
        <rules>
            <name>SupplierPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Forward_to_Supplier_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email_Messages_Supplier_Payments</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SupplierPayment</label>
        </rules>
        <rules>
            <name>Payments_No_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Forward_to_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Payments No Files</label>
        </rules>
        <rules>
            <name>SupplierPayments_No_Filess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Forward_to_Supplier_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>SupplierPayments No Filess</label>
        </rules>
    </decisions>
    <decisions>
        <name>SP_Has_Files</name>
        <label>SP Has Files</label>
        <locationX>240</locationX>
        <locationY>870</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SP_Files_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_supplierpayments_email_with_Attachments_0</targetReference>
            </connector>
            <label>SP Files Yes</label>
        </rules>
        <rules>
            <name>SP_Files_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_supplierpayments_email_0</targetReference>
            </connector>
            <label>SP Files No</label>
        </rules>
    </decisions>
    <decisions>
        <name>SP_Has_Files_0</name>
        <label>SP Has Files</label>
        <locationX>1199</locationX>
        <locationY>884</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_Files_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_payments_email_0_0_0</targetReference>
            </connector>
            <label>P Files Yes</label>
        </rules>
        <rules>
            <name>P_Files_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_payments_email_0_0</targetReference>
            </connector>
            <label>P Files No</label>
        </rules>
    </decisions>
    <interviewLabel>Forward to Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forward to Payment</label>
    <loops>
        <name>Loop_Email_Messages_Payments</name>
        <label>Loop Email Messages Payments</label>
        <locationX>786</locationX>
        <locationY>482</locationY>
        <collectionReference>EmailMessagesCollection</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Email_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SP_Has_Files_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Email_Messages_Supplier_Payments</name>
        <label>Loop Email Messages Supplier PAyments</label>
        <locationX>285</locationX>
        <locationY>607</locationY>
        <collectionReference>EmailMessagesCollection</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Email_Message_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SP_Has_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>653</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>AttachmentIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getEamilMessage_s</name>
        <label>getEamilMessage(s)</label>
        <locationX>774</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>EmailMessagesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>Subject</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_boxes</name>
        <label>Uncheck boxes</label>
        <locationX>645</locationX>
        <locationY>1005</locationY>
        <inputAssignments>
            <field>Forward_to_Payments__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forward_to_Supplier_Payments__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>getEamilMessage_s</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Forward_to_Payments__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Forward_to_Supplier_Payments__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllEmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>AllSPEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>AttachmentIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EmailMessagesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>From</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Returnaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierPaymentAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttachmentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
