unpackaged/main/default/flows/Launch_Process_Builder_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify Additional Users on new Product Launch Tasks</description>
        <name>Notify_Additional_Users_on_new_Product_Launch_Tasks</name>
        <label>Notify Additional Users on new Product Launch Tasks</label>
        <locationX>988</locationX>
        <locationY>641</locationY>
        <actionName>Task.Notify_Additional_Users_on_new_Product_Launch_Tasks</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CreateLaunchTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Notify LCM Teamer that Case is Ready for Retest</description>
        <name>Notify_Launch_Case_Owner_Ready_for_Retest</name>
        <label>Notify Launch Case Owner Ready for Retest</label>
        <locationX>623</locationX>
        <locationY>682</locationY>
        <actionName>Case.Notify_Launch_Case_Owner_Ready_for_Retest</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Notifies LCM Teamer that Case is assigned</description>
        <name>Notify_Product_Launch_Case_Owner_that_Case_Assigned</name>
        <label>Notify Product Launch Case Owner that Case Assigned</label>
        <locationX>114</locationX>
        <locationY>466</locationY>
        <actionName>Case.Notify_Product_Launch_Case_Owner_that_Case_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>LCM Decision to send out Emails to relevant LCM Teamers</description>
        <name>LCM_Decision</name>
        <label>LCM Decision</label>
        <locationX>607</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Product_Launch_Case_Owner</name>
            <conditionLogic>(1 AND 2) or (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Product_Launch_Case_Owner_that_Case_Assigned</targetReference>
            </connector>
            <label>New Product Launch Case Owner?</label>
        </rules>
        <rules>
            <name>Status_is_Ready_for_Launch_Data_Steward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for CSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLaunchTask</targetReference>
            </connector>
            <label>Status is Ready for Launch Data Steward</label>
        </rules>
        <rules>
            <name>Status_is_Ready_for_Retest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Re-Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Launch_Case_Owner_Ready_for_Retest</targetReference>
            </connector>
            <label>Status is Ready for Retest</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormDueDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Launch Process Builder Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Process Builder Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Product Launch Task</description>
        <name>CreateLaunchTask</name>
        <label>CreateLaunchTask</label>
        <locationX>963</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Notify_Additional_Users_on_new_Product_Launch_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Launch__c</field>
            <value>
                <elementReference>$Record.Launch__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Launch__r.CSI_eCommerce_Content_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&#39;Product Launch Case &#39; + [Case].CaseNumber  + &#39; Require Rebuild?&#39;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Product Launch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>505</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>LCM_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_Launch_Testing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Launch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
