unpackaged/main/default/flows/LCM_Reassign_Case_Ownership_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Assign LCM New Case Ownership</description>
        <name>Assign_LCM_Case_ownership</name>
        <label>Assign LCM Case ownership</label>
        <locationX>171</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Ownership_CSI_eComm_Content_Coordinator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Issue_Overview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Fit_Overview_Content_Mgr</targetReference>
            </connector>
            <label>Error/Issue Overview</label>
        </rules>
        <rules>
            <name>Graphics_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Image(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Gallery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_Graphics_Contact</targetReference>
            </connector>
            <label>Graphics Contact</label>
        </rules>
        <rules>
            <name>Technical_Writer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_to_Technical_Writer</targetReference>
            </connector>
            <label>Technical Writer</label>
        </rules>
        <rules>
            <name>Logistical_Launch_Coordinator</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Weight</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_Logistical_Launch_Coordinator</targetReference>
            </connector>
            <label>Logistical Launch Coordinator</label>
        </rules>
        <rules>
            <name>PIM_Product_Data_Steward</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Description</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommended Item(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spec Table</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_PIM_Product_Data_Steward</targetReference>
            </connector>
            <label>PIM Product Data Steward</label>
        </rules>
        <rules>
            <name>CSI_eCommerce_Content_Coordinator</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drawing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Harmonization Code</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Depth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Made in USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_CSI_eComm_Content_Coordinator</targetReference>
            </connector>
            <label>CSI eCommerce Content Coordinator</label>
        </rules>
        <rules>
            <name>Product_Engineer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Define_Error_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WITB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Ownership_Product_Engineer</targetReference>
            </connector>
            <label>Product Engineer</label>
        </rules>
    </decisions>
    <description>Flow that Reassigns Case Ownership for Product Launch Testing Cases</description>
    <interviewLabel>LCM Reassign Case Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LCM Reassign Case Ownership Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Current Case Record passed in via Process builder</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Launch_Record_attached_to_Current_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Launch Record attached to Current Case</description>
        <name>Get_Launch_Record_attached_to_Current_Case</name>
        <label>Get Launch Record attached to Current Case</label>
        <locationX>174</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LCM_Case_ownership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Launch__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Launch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Fit_Overview_Content_Mgr</name>
        <label>Update Case Fit Overview Content Mgr</label>
        <locationX>745</locationX>
        <locationY>869</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.FIT_Overview_Content_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Ownership CSI eComm Content Coordinator</description>
        <name>Update_Case_Ownership_CSI_eComm_Content_Coordinator</name>
        <label>Update Case Ownership CSI eComm Content Coordinator</label>
        <locationX>595</locationX>
        <locationY>685</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.CSI_eCommerce_Content_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Ownership Graphics Contact</description>
        <name>Update_Case_Ownership_Graphics_Contact</name>
        <label>Update Case Ownership Graphics Contact</label>
        <locationX>584</locationX>
        <locationY>1204</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.Graphics_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case OwnerShip Logistical Launch Coordinator</description>
        <name>Update_Case_Ownership_Logistical_Launch_Coordinator</name>
        <label>Update Case Ownership Logistical Launch Coordinator</label>
        <locationX>601</locationX>
        <locationY>388</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.Logistical_Launch_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Ownership PIM Product Data Steward</description>
        <name>Update_Case_Ownership_PIM_Product_Data_Steward</name>
        <label>Update Case Ownership PIM Product Data Steward</label>
        <locationX>610</locationX>
        <locationY>537</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.PIM_Product_Data_Steward__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Ownership Product Engineer</description>
        <name>Update_Case_Ownership_Product_Engineer</name>
        <label>Update Case Ownership Product Engineer</label>
        <locationX>368</locationX>
        <locationY>1160</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.Product_Engineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Ownership to Technical Writer</description>
        <name>Update_Case_Ownership_to_Technical_Writer</name>
        <label>Update Case Ownership to Technical Writer</label>
        <locationX>613</locationX>
        <locationY>250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Launch_Record_attached_to_Current_Case.Technical_Writer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id of the Product Launch Testing Case being created and passed in via Process Builder</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LaunchId</description>
        <name>varLaunchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
