unpackaged/main/default/flows/Merge_Accounts_III.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Add Contact to Contacts to Update</description>
        <name>Add_Contact_to_Contacts_to_Update</name>
        <label>Add Contact to Contacts to Update</label>
        <locationX>601</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thru_Each_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact Record</description>
        <name>Assign_Contact_Record</name>
        <label>Assign Contact Record</label>
        <locationX>411</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thru_Each_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsRoleBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Contacts_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_each_Contact_Role</name>
        <label>Assign each Contact Role</label>
        <locationX>385</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>varCurrentRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thru_Each_Contact_Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_new_instances_of_Content_Document_Link</name>
        <label>Assign to new instances of Content Document Link</label>
        <locationX>1775</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>varNewContentDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_existing_Conent.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>put_the_individual_new_Content_Document_Link_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Winning_Account</name>
        <label>Assign Winning Account Id</label>
        <locationX>607</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>MergeIntoAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_to_Accounts_based_on_P21Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>put_the_individual_new_Content_Document_Link_in_list</name>
        <label>put the individual new Content Document Link in list</label>
        <locationX>1718</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>lstNewContentDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewContentDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_existing_Conent</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>If Role is blank; then assign Purchasing</description>
        <name>IsRoleBlank</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!varCurrentRole}),&#39;Purchasing&#39;,{!varCurrentRole})</expression>
    </formulas>
    <interviewLabel>Merge Accounts III {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Merge Accounts III</label>
    <loops>
        <description>For Each Existing Conent</description>
        <name>For_each_existing_Conent</name>
        <label>For each existing Conent</label>
        <locationX>1423</locationX>
        <locationY>497</locationY>
        <collectionReference>lstExistingConentDoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_new_instances_of_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Instances_of_List_of_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Thru Each Contact Record</description>
        <name>Thru_Each_Contact_Record</name>
        <label>Thru Each Contact Record</label>
        <locationX>608</locationX>
        <locationY>664</locationY>
        <collectionReference>varContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_each_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Instances_of_List_of_Content_Document_Link</name>
        <label>Create New Instances of List of Content Document Link</label>
        <locationX>1297</locationX>
        <locationY>125</locationY>
        <inputReference>lstNewContentDoc</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find existing Content Docs for Account</description>
        <name>Find_Existing_Content</name>
        <label>Find Existing Content Docs</label>
        <locationX>1259</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_existing_Conent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>lstExistingConentDoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get All Contacts</description>
        <name>Get_all_Contacts</name>
        <label>Get all Contacts</label>
        <locationX>503</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thru_Each_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get&#39;s current account Record</description>
        <name>Get_Curr_Account_Record</name>
        <label>Get Curr Account Record</label>
        <locationX>173</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WinningAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Move_to_Accounts_based_on_P21Id</name>
        <label>Get Move to Accounts based on P21Id</label>
        <locationX>423</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correct_Winning_AccountII</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Winning_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Activities</description>
        <name>Update_Activities</name>
        <label>Update Activities</label>
        <locationX>931</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Update_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>787</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Update_Survey_Monkey_Surveys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contacts to Update</description>
        <name>Update_Contacts_to_Update</name>
        <label>Update Contacts to Update</label>
        <locationX>719</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Update_Activities</targetReference>
        </connector>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update ShipToRecords for Winning Account</description>
        <name>Update_Ship_to_Records</name>
        <label>Update Ship to Records</label>
        <locationX>786</locationX>
        <locationY>727</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Ship_To_Addresses__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Survey Monkey Surveys</description>
        <name>Update_Survey_Monkey_Surveys</name>
        <label>Update Survey Monkey Surveys</label>
        <locationX>899</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Update_SurveyMonkey_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurveyMonkeyApp__AccountId__c</field>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyMonkeyApp__SurveyResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update SurveyMonkey Responses</description>
        <name>Update_SurveyMonkey_Responses</name>
        <label>Update SurveyMonkey Responses</label>
        <locationX>1005</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Find_Existing_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurveyMonkeyApp__AccountId__c</field>
            <value>
                <elementReference>MergeIntoAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyMonkeyApp__Response__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Correct_Winning_AccountII</name>
        <label>Correct Winning Account</label>
        <locationX>507</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Winning_Account</targetReference>
        </connector>
        <fields>
            <name>Correct_Winning_Account</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Is this the corrrect Winning Account?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;P21 ID:  &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!Get_Move_to_Accounts_based_on_P21Id.CID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Account Name: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!Get_Move_to_Accounts_based_on_P21Id.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WinningAccount</name>
        <label>Winning Account</label>
        <locationX>304</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Move_to_Accounts_based_on_P21Id</targetReference>
        </connector>
        <fields>
            <name>Winning_Account</name>
            <dataType>String</dataType>
            <fieldText>Winning Account P21ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Curr_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Conacts to UPdate</description>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>list of content Document 1</description>
        <name>lstContentDoc1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <description>To hold the list of Existing Content Document</description>
        <name>lstExistingConentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>To hold list of new instances of Content Document Link</description>
        <name>lstNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>lstWinningExisting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>MergeIntoAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Id of the current account Record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of Cases to be moved</description>
        <name>varCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Contact Collection</description>
        <name>varContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>CurrentRole</description>
        <name>varCurrentRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentRoleMP</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To hold Single record of Content Document Link</description>
        <name>varExistingContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>To hold the instance of a single Content Document LInk</description>
        <name>varNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Collection of ShipTo&#39;s for Each Contact</description>
        <name>varShipTocollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ship_To_Addresses__c</objectType>
    </variables>
    <variables>
        <name>varWinningExisting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>VictimActivities</description>
        <name>VictimActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
