unpackaged/main/default/flows/Move_Contact_Cases_and_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Add Case to Cases to Update</description>
        <name>Add_Case_to_Cases_to_Update</name>
        <label>Add Case to Cases to Update</label>
        <locationX>684</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>casesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the ContactId of the Contact Move to Contacts</description>
        <name>Assign_Contact_To_Id_to_variable</name>
        <label>Assign Contact To Id to variable</label>
        <locationX>874</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>MoveToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_To_Contacts_P21_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_each_Activity_to_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign INdividual Case Record with New Contact</description>
        <name>Assign_INdividual_Case_Record_with_New_Contact</name>
        <label>Assign INdividual Case Record with New Contact</label>
        <locationX>675</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>varCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoopCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Cases_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Individual Case Records without Account</description>
        <name>Assign_Individual_Case_Records_without_Account</name>
        <label>Assign Individual Case Records without Account</label>
        <locationX>1212</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>varCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoopCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Cases_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Remaining New Ship To Variables</description>
        <name>Assign_Remaining_New_Ship_To_Variables</name>
        <label>Assign Remaining New Ship To Variables</label>
        <locationX>86</locationX>
        <locationY>2199</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Nickname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_To_Contacts_P21_ID.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Street_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Street_Address_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Street_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Street_Address_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Inactive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewShipTo.Inactive_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Inactive_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_individual_New_ShipTo_in_a_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the same Name if Victim&#39;s Contact Account Name is different then Shipt To Name</description>
        <name>Assign_Same_Account_Name</name>
        <label>Assign Same Account Name</label>
        <locationX>300</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Ship_to_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Ship_to_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Remaining_New_Ship_To_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the same email address as in the Loop Shipt To to the new ShipTo Record</description>
        <name>Assign_Same_New_ShipTo_Email</name>
        <label>Assign Same New ShipTo Email</label>
        <locationX>376</locationX>
        <locationY>1265</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShipToPhoneSameasVictimPHone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign same Shipto Phone to the new shipTo Record</description>
        <name>Assign_Same_New_ShipTo_Phone</name>
        <label>Assign Same New ShipTo Phone</label>
        <locationX>421</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShiptoFaxSameasVictimPhone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Same New ShiptoFax</description>
        <name>Assign_Same_New_ShiptoFax</name>
        <label>Assign Same New ShiptoFax</label>
        <locationX>411</locationX>
        <locationY>1833</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShiptoNameSameasVictimAccountName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to new instances of Content Document Link</description>
        <name>Assign_to_new_instances_of_Content_Document_Link</name>
        <label>Assign to new instances of Content Document Link</label>
        <locationX>348</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varNewContentDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewContentDoc.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_existing_Content.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>put_the_individual_new_Content_Document_Link_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Winning Contact Account Name if the Vicitm Account Name is the Same as the Ship To Name</description>
        <name>Assign_Winning_Contact_Account_Name</name>
        <label>Assign Winning Contact Account Name</label>
        <locationX>324</locationX>
        <locationY>2173</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Ship_to_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_To_Contacts_P21_ID.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Remaining_New_Ship_To_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Winning Contact Email to Ship to when ShipTo email is the same as the Victim Contact EMail</description>
        <name>Assign_Winning_Contact_Email_to_Ship_To</name>
        <label>Assign Winning Contact Email to Ship To</label>
        <locationX>449</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_To_Contacts_P21_ID.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShipToPhoneSameasVictimPHone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Winning_Contact_Fax_to_Ship_To</name>
        <label>Assign Winning Contact Fax to Ship To</label>
        <locationX>402</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Move_To_Contacts_P21_ID.Fax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShiptoNameSameasVictimAccountName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recreate the ShipTo record with Winning Contact Phone if Ship to PHone equals victim Contact</description>
        <name>Assign_Winning_Contact_Phone_to_Ship_To</name>
        <label>Assign Winning Contact Phone to Ship To</label>
        <locationX>434</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirectPhoneorMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShiptoFaxSameasVictimPhone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When the Contact&#39;s Account Id are the same for both winning and victim contact, the Ship To P21 Id should remain the same</description>
        <name>AssignP21ID_to_New_ShipTo_Record</name>
        <label>AssignP21ID to New ShipTo Record</label>
        <locationX>334</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>varNewShipTo.P21_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Existing_Ship_To_Addresses.P21_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsShiptoEmailSameasVictimContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Put individual New ShipTo in a list</description>
        <name>Put_individual_New_ShipTo_in_a_list</name>
        <label>Put individual New ShipTo in a list</label>
        <locationX>734</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>lstNewShipTos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewShipTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Existing_Ship_To_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>put the individual new Content Document Link in list</description>
        <name>put_the_individual_new_Content_Document_Link_in_list</name>
        <label>put the individual new Content Document Link in list</label>
        <locationX>540</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>lstNewContentDoc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewContentDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_existing_Content</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if Case Account is Dummy Account (quick Call or General Community Account)</description>
        <name>Is_Case_Account_Dummy_Account</name>
        <label>Is Case Account Dummy Account</label>
        <locationX>904</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Assign_INdividual_Case_Record_with_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DummyAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLoopCases.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0013u00000uIsB8AAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLoopCases.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0013u00000vlqE8AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Individual_Case_Records_without_Account</targetReference>
            </connector>
            <label>DummyAccount?</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsShiptoEmailSameasVictimContact</name>
        <label>IsShiptoEmailSameasVictimContact?</label>
        <locationX>134</locationX>
        <locationY>1258</locationY>
        <defaultConnector>
            <targetReference>IsShipToPhoneSameasVictimPHone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsShipToEmailNOTSameasVictimContactemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Same_New_ShipTo_Email</targetReference>
            </connector>
            <label>IsShipToEmailNOTSameasVictimContactemail</label>
        </rules>
        <rules>
            <name>IsShipToEmailSAMEasVictimContactEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Winning_Contact_Email_to_Ship_To</targetReference>
            </connector>
            <label>IsShipToEmailSAMEasVictimContactEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsShiptoFaxSameasVictimPhone</name>
        <label>IsShiptoFaxSameasVictimPhone</label>
        <locationX>25</locationX>
        <locationY>1755</locationY>
        <defaultConnector>
            <targetReference>IsShiptoNameSameasVictimAccountName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsShipToFaxNOTSameVictimFax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Fax__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Fax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Same_New_ShiptoFax</targetReference>
            </connector>
            <label>IsShipToFaxNOTSameVictimFax</label>
        </rules>
        <rules>
            <name>IsShipToFaxSameVictimFax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Fax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Fax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Winning_Contact_Fax_to_Ship_To</targetReference>
            </connector>
            <label>IsShipToFaxSameVictimFax</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsShiptoNameSameasVictimAccountName</name>
        <label>IsShiptoNameSameasVictimAccountName</label>
        <locationX>22</locationX>
        <locationY>1996</locationY>
        <defaultConnector>
            <targetReference>Assign_Remaining_New_Ship_To_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsShipToNameNOTsameasVictimAccountName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact_Id.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_thru_Existing_Ship_To_Addresses.Ship_to_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Same_Account_Name</targetReference>
            </connector>
            <label>IsShipToNameNOTsameasVictimAccountName</label>
        </rules>
        <rules>
            <name>IsShiptoNameSameasVictimAccountName2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact_Id.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_thru_Existing_Ship_To_Addresses.Ship_to_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Winning_Contact_Account_Name</targetReference>
            </connector>
            <label>IsShiptoNameSameasVictimAccountName2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsShipToPhoneSameasVictimPHone</name>
        <label>IsShipToPhoneSameasVictimPHone</label>
        <locationX>132</locationX>
        <locationY>1530</locationY>
        <defaultConnector>
            <targetReference>IsShiptoFaxSameasVictimPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsShipToPhoneNOTSameasVictimPHone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Direct_Phone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Same_New_ShipTo_Phone</targetReference>
            </connector>
            <label>IsShipToPhoneNOTSameasVictimPHone</label>
        </rules>
        <rules>
            <name>IsShipToPhoneSameasVictimPhone2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.Direct_Phone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Existing_Ship_To_Addresses.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Contact_Id.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Winning_Contact_Phone_to_Ship_To</targetReference>
            </connector>
            <label>IsShipToPhoneSameasVictimPhone2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsVictimAccountSameAsWinningAccount</name>
        <label>IsVictimAccountSameAsWinningAccount</label>
        <locationX>133</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>IsShiptoEmailSameasVictimContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WinningContactAccountEqualsVictimContactAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact_Id.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Move_To_Contacts_P21_ID.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignP21ID_to_New_ShipTo_Record</targetReference>
            </connector>
            <label>WinningContactAccountEqualsVictimContactAccount</label>
        </rules>
    </decisions>
    <description>Moves Contact&#39;s Cases and Activities from one Contact to another</description>
    <formulas>
        <name>DirectPhoneorMobilePhone</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!Get_Move_To_Contacts_P21_ID.Direct_Phone__c}), {!Get_Move_To_Contacts_P21_ID.MobilePhone}, {!Get_Move_To_Contacts_P21_ID.Direct_Phone__c})</expression>
    </formulas>
    <interviewLabel>Move Contact Cases and Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Move Contact Cases and Activities</label>
    <loops>
        <description>For each existing Content</description>
        <name>For_each_existing_Content</name>
        <label>For each existing Content</label>
        <locationX>337</locationX>
        <locationY>637</locationY>
        <collectionReference>lstExistingContentDoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_new_instances_of_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Instances_of_List_of_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Contact Cases</description>
        <name>Loop_through_Cases</name>
        <label>Loop through Cases</label>
        <locationX>894</locationX>
        <locationY>349</locationY>
        <assignNextValueToReference>varLoopCases</assignNextValueToReference>
        <collectionReference>varCaseCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Case_Account_Dummy_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop thru Each Existing ship To Addresses</description>
        <name>Loop_thru_Existing_Ship_To_Addresses</name>
        <label>Loop thru Existing Ship To Addresses</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_All_Victim_Contacts_Ship_Tos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsVictimAccountSameAsWinningAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_the_New_ShipTos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the Notes and Attachments for the Contact</description>
        <name>Create_New_Instances_of_List_of_Content_Document_Link</name>
        <label>Create New Instances of List of Content Document Link</label>
        <locationX>134</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>Get_All_Victim_Contacts_Ship_Tos</targetReference>
        </connector>
        <inputReference>lstNewContentDoc</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the New Shipts</description>
        <name>Create_the_New_ShipTos</name>
        <label>Create the New ShipTos</label>
        <locationX>744</locationX>
        <locationY>981</locationY>
        <inputReference>lstNewShipTos</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find existing Notes and Files on the Victim Contact</description>
        <name>Find_Existing_Content_Docs</name>
        <label>Find Existing Content Docs</label>
        <locationX>336</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_existing_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>lstExistingContentDoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get All Victim Contacts Ship to Create new Ship To&#39;s on new Contact and Account</description>
        <name>Get_All_Victim_Contacts_Ship_Tos</name>
        <label>Get All Victim Contacts Ship Tos</label>
        <locationX>137</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Existing_Ship_To_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ship_To_Addresses__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Records of the original Contact</description>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>919</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Current Contact Id that the user is on and store in recordId</description>
        <name>Get_Current_Contact_Id</name>
        <label>Get Current Contact Id</label>
        <locationX>473</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Move_To_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Contact Id to move Activity to based on P21 ID</description>
        <name>Get_Move_To_Contacts_P21_ID</name>
        <label>Get Move To Contacts P21 ID</label>
        <locationX>681</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correct_Winning_ContactScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P21_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MoveActivitytoP21Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Case_Records</name>
        <label>Update All Case Records</label>
        <locationX>616</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_SurveyMonkey_Survey_Response</targetReference>
        </connector>
        <inputReference>casesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Each Activity to New Contact</description>
        <name>Update_each_Activity_to_New_Contact</name>
        <label>Update each Activity to New Contact</label>
        <locationX>1026</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Survey Monkey Responses to the winning ContactID</description>
        <name>Update_SurveyMonkey_Responses</name>
        <label>Update SurveyMonkey Responses</label>
        <locationX>338</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Find_Existing_Content_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurveyMonkeyApp__ContactId__c</field>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyMonkeyApp__Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update SM Surveys</description>
        <name>Update_SurveyMonkey_Survey_Response</name>
        <label>Update SurveyMonkey Survey Response</label>
        <locationX>471</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Update_SurveyMonkey_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurveyMonkeyApp__ContactId__c</field>
            <value>
                <elementReference>MoveToContactId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyMonkeyApp__SurveyResponse__c</object>
    </recordUpdates>
    <screens>
        <name>Correct_Winning_ContactScreen</name>
        <label>Correct Winning Contact</label>
        <locationX>775</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_To_Id_to_variable</targetReference>
        </connector>
        <fields>
            <name>Correct_Winning_Contact</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Is thsis the correct Winning Contact?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;P21 ID: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt; {!Get_Move_To_Contacts_P21_ID.P21_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Contact Name:  &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!Get_Move_To_Contacts_P21_ID.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Moves Activities to Contact</description>
        <name>Move_To_Contact</name>
        <label>Move To Contact</label>
        <locationX>597</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Move_To_Contacts_P21_ID</targetReference>
        </connector>
        <fields>
            <name>MoveActivitytoP21Id</name>
            <dataType>String</dataType>
            <fieldText>Move Activity to P21 Id:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>133</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Activity Id</description>
        <name>ActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Update the Cases</description>
        <name>casesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Existing Notes and Files</description>
        <name>lstExistingContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>New content Document List</description>
        <name>lstNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>List to hold new ShipTo Records</description>
        <name>lstNewShipTos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ship_To_Addresses__c</objectType>
    </variables>
    <variables>
        <description>Move Activities to Lookup Contact Id</description>
        <name>MoveToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Activities that need to be updated to new contact</description>
        <name>recActivitiestoBeMoved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Current Contact Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Individual Case Record</description>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Collection to be looped through</description>
        <name>varCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Loop through each Activity</description>
        <name>varLoopActivityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varLoopCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varLoopCases2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>New Content Record to hold in the lst</description>
        <name>varNewContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>New Ship To Record</description>
        <name>varNewShipTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ship_To_Addresses__c</objectType>
    </variables>
</Flow>
