unpackaged/main/default/flows/Notify_Customer_Support_New_Survey_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Ecomm_when_new_Survey_is_Created2</name>
        <label>Notify Ecomm when new Survey is Created2</label>
        <locationX>991</locationX>
        <locationY>88</locationY>
        <actionName>SurveyMonkeyApp__SurveyResponse__c.Notify_Ecomm_when_new_Survey_is_Created2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Detractor Responses to Customer Support</description>
        <name>Send_Detractor_Responses_to_CS</name>
        <label>Send Detractor Responses to CS</label>
        <locationX>879</locationX>
        <locationY>354</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>New Survey{!NewLine}Contact: {!Get_Contact.Name}{!NewLine}Customer Number: {!Get_Contact.P21_ID__c}{!NewLine}Email: {!Get_Contact.Email}{!NewLine}Phone: {!Get_Contact.Direct_Phone__c} {!NewLine}OrderNo: {!varSurveyResponse.Order_No__c}{!NewLine}{!NewLine}{!SurveyResponseText}{!NewLine}GoTo Survey {!Environment}{!recordId} {!NewLine}{!NewLine} GoTo Contact {!Environment}{!Get_Contact.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varCustomerSupportEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fmaddie@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New {!varSurveyResponse.SurveyMonkeyApp__Survey_Name__c} from {!Get_Contact.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Detractor Responses to Tech Support</description>
        <name>Send_Detractor_Responses_to_Tech_0</name>
        <label>Send Detractor Responses to Tech</label>
        <locationX>687</locationX>
        <locationY>449</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>New Survey{!NewLine}Contact: {!Get_Contact.Name}{!NewLine}Customer Number: {!Get_Contact.P21_ID__c}{!NewLine}Email: {!Get_Contact.Email}{!NewLine}Phone: {!Get_Contact.Direct_Phone__c} {!NewLine}Case Number: {!varCaseNumber}{!NewLine}{!NewLine}{!SurveyResponseText}{!NewLine}GoTo Survey {!Environment}{!recordId} {!NewLine}{!NewLine} GoTo Contact {!Environment}{!Get_Contact.Id} {!NewLine} {!NewLine}GoTo Case  {!Environment}{!varSurveyResponse.SurveyMonkeyApp__CaseId__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varTechnicalSupportEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fmaddie@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New {!varSurveyResponse.SurveyMonkeyApp__Survey_Name__c} from {!Get_Contact.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assign NPS Label to a variable</description>
        <name>Assign_NPS_Label</name>
        <label>Assign NPS Label</label>
        <locationX>26</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>varNPSLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formNPSLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Survey_Id.SurveyMonkeyApp__CaseId__r.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Survey_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Var SurveyRecord</description>
        <name>Assign_varSurveyRecord</name>
        <label>Assign varSurveyRecord</label>
        <locationX>380</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__Question_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__Question_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__Response_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__Response_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__Survey_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__Survey_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.Order_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.Order_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__NPS_Normalized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__NPS_Normalized__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__NPS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__NPS_Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyResponse.SurveyMonkeyApp__CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__CaseId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>concatenateSurveyResponses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>concatenateSurveyResponses</name>
        <label>concatenateSurveyResponses</label>
        <locationX>487</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>QuestionNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__Question_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thru_Survey_Responses.SurveyMonkeyApp__Response_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>=====</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>thru_Survey_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Depending on Survey Name send email to different recipients</description>
        <name>Survey_Name_to_Switch_Emails</name>
        <label>Survey Name to Switch Emails</label>
        <locationX>660</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutomationDirect_E_commerce_Order_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSurveyResponse.SurveyMonkeyApp__Survey_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomationDirect E-commerce Order Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Ecomm_when_new_Survey_is_Created2</targetReference>
            </connector>
            <label>AutomationDirect E-commerce Order Survey</label>
        </rules>
        <rules>
            <name>Phone_and_Email_Detractor</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varSurveyResponse.SurveyMonkeyApp__Survey_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Satisfaction Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSurveyResponse.SurveyMonkeyApp__Survey_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone Customer Satisfaction Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNPSLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Detractor_Responses_to_CS</targetReference>
            </connector>
            <label>Phone and Email Detractor</label>
        </rules>
        <rules>
            <name>Technical_Support_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSurveyResponse.SurveyMonkeyApp__Survey_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Support Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNPSLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Detractor_Responses_to_Tech_0</targetReference>
            </connector>
            <label>Technical Support Survey</label>
        </rules>
    </decisions>
    <description>Notify Customer Support New Survey Created</description>
    <formulas>
        <description>Determine the NPS Label</description>
        <name>formNPSLabel</name>
        <dataType>String</dataType>
        <expression>{!Get_NPS_Label.SurveyMonkeyApp__NPS_Label__c}</expression>
    </formulas>
    <formulas>
        <description>Increment Question Number</description>
        <name>formquestionNo</name>
        <dataType>Number</dataType>
        <expression>{!QuestionNo} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>varSurveyReponseText2</name>
        <dataType>String</dataType>
        <expression>{!varSurveyResponse.SurveyMonkeyApp__Question_Name__c} + {!varSurveyResponse.SurveyMonkeyApp__Response_Value__c} + BR()</expression>
    </formulas>
    <interviewLabel>Notify Customer Support New Survey Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Customer Support New Survey Created</label>
    <loops>
        <description>Loop Thru Survey Responses</description>
        <name>thru_Survey_Responses</name>
        <label>thru Survey Responses</label>
        <locationX>226</locationX>
        <locationY>346</locationY>
        <collectionReference>varSurveyResponsesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_varSurveyRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Survey_to_include_Survey_Responses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Survey Responses for the current Survey</description>
        <name>Get_All_Survey_Responses</name>
        <label>Get All Survey Responses</label>
        <locationX>48</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>thru_Survey_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__Response_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Id.SurveyMonkeyApp__Response_ID__c</elementReference>
            </value>
        </filters>
        <object>SurveyMonkeyApp__Response__c</object>
        <outputReference>varSurveyResponsesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SurveyMonkeyApp__Question_Name__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__Response_Value__c</queriedFields>
        <queriedFields>Order_No__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__ContactId__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__AccountId__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__CaseId__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__Survey_Name__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__NPS_Label__c</queriedFields>
        <queriedFields>SurveyMonkeyApp__NPS_Normalized__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Name</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>732</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Name_to_Switch_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Id.SurveyMonkeyApp__ContactId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get NPS Label</description>
        <name>Get_NPS_Label</name>
        <label>Get NPS Label</label>
        <locationX>47</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_NPS_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyMonkeyApp__Response_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Id.SurveyMonkeyApp__Response_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SurveyMonkeyApp__NPS_Label__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyMonkeyApp__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get SurveyId</description>
        <name>Get_Survey_Id</name>
        <label>Get Survey Id</label>
        <locationX>52</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NPS_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyMonkeyApp__SurveyResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Populates the Survey Response field on the page layout</description>
        <name>Update_Survey_to_include_Survey_Responses</name>
        <label>Update Survey to include Survey Responses</label>
        <locationX>611</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Responses__c</field>
            <value>
                <elementReference>SurveyResponseText</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyMonkeyApp__SurveyResponse__c</object>
    </recordUpdates>
    <start>
        <locationX>103</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Survey_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>Email Body with all Survey Responses</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Here are all the Survey Responses for Survey&lt;/p&gt;&lt;p&gt;{!varSurveyResponseCollection2}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NewLine}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!varSurveyResponse.SurveyMonkeyApp__Question_Name__c} &quot;:&quot;  {!varSurveyResponse.SurveyMonkeyApp__Response_Value__c} {!NewLine}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Environment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://automationdirectinc.lightning.force.com/</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuestionNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Current Survey</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyResponseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case Number for Sending in Email</description>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ContactId</description>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contact Name</description>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Customer Support EMails</description>
        <name>varCustomerSupportEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>jwilliams@automationdirect.com,spurcell@automationdirect.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>Email Body</description>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Survey {!NewLine}Contact: {!Get_Contact.Name}{!NewLine}Email: {!Get_Contact.Email} {!NewLine}Email From Survey: {!Get_Survey_Id.Email_from_Survey__c}{!NewLine} Phone: {!Get_Contact.Direct_Phone__c} {!NewLine}{!NewLine}OrderNo:  {!varSurveyResponse.Order_No__c}{!NewLine}{!NewLine}{!SurveyResponseText} {!NewLine}  GoTo Survey {!Environment}{!recordId} {!NewLine}{!NewLine} GoTo Contact {!Environment}{!Get_Contact.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NewLine</elementReference>
        </value>
    </variables>
    <variables>
        <description>holds the NPS Label of each Survey</description>
        <name>varNPSLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>     </stringValue>
        </value>
    </variables>
    <variables>
        <name>varSurveyReponseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SurveyRepsonseId</description>
        <name>varSurveyRepsonseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSurveyResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyMonkeyApp__Response__c</objectType>
    </variables>
    <variables>
        <name>varSurveyResponseCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyMonkeyApp__Response__c</objectType>
    </variables>
    <variables>
        <description>Survey Responses Collection</description>
        <name>varSurveyResponsesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyMonkeyApp__Response__c</objectType>
    </variables>
    <variables>
        <description>Tech Lead Emails</description>
        <name>varTechnicalSupportEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>rlewis@automationdirect.com,bperry@automationdirect.com,ddinkins@automationdirect.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>WebSupport emails</description>
        <name>varWebSupportEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>fmaddie@automationdirect.com,ecomsurvey@automationdirect.com</stringValue>
        </value>
    </variables>
</Flow>
