unpackaged/main/default/flows/Project_Add_PATL_ATL_to_Project_Team_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddtoProjectTeamCollection</name>
        <label>AddtoProjectTeamCollection</label>
        <locationX>970</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectTeamSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Team_Single</name>
        <label>Assign Project Team Single</label>
        <locationX>972</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoProjectTeamCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesPATLor_ATL_Exists</name>
        <label>DoesPATLor ATL Exists</label>
        <locationX>602</locationX>
        <locationY>704</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesPATLorATLinProjectTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Team_for_PATL_and_ATL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Team</targetReference>
            </connector>
            <label>DoesPATLorATLinProjectTeam</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTemplateseton_Create</name>
        <label>IsTemplateseton Create</label>
        <locationX>662</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Update_New_Supplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TemplateisNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inspire1__Project_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>TemplateisNotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Add PATL/ATL to Project Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add PATL/ATL to Project Team Create</label>
    <loops>
        <name>Loop_thru_Silo_Members</name>
        <label>Loop thru Silo Members</label>
        <locationX>882</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Silo_Members_PATL_ATL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Team_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Project_Team_for_PATL_and_ATL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Product Availability Team Lead and Accounting Team Lead</description>
        <name>Create_Project_Team</name>
        <label>Create Project Team</label>
        <locationX>615</locationX>
        <locationY>855</locationY>
        <inputReference>ProjectTeamCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Team_for_PATL_and_ATL</name>
        <label>Get Project Team for PATL and ATL</label>
        <locationX>619</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPATLor_ATL_Exists</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Silo_Members_PATL_ATL</name>
        <label>Get Silo Members - PATL/ATL</label>
        <locationX>878</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting Team Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Silo_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Supplier</name>
        <label>Update New Supplier</label>
        <locationX>499</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>New_Supplier__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_New_Supplier_Record</name>
        <label>Update Project New Supplier Record</label>
        <locationX>607</locationX>
        <locationY>968</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Supplier__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>754</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Silo_Members_PATL_ATL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inspire1__Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <description>Project Team Record type</description>
        <name>ProjectTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
</Flow>
