unpackaged/main/default/flows/Project_Add_PAS_and_HFW_to_Project_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DoesHelpFileWriterNotExists</name>
        <label>DoesHelpFileWriterNotExists</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHelpFileWriterNotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Help_File_Writer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHelpFileWriteronProjectTeam</targetReference>
            </connector>
            <label>IsHelpFileWriterNotAssigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesHelpFileWriterNotExists2</name>
        <label>DoesHelpFileWriterNotExists2</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHelpFileWriterNotAssigned2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Help_File_Writer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHelpFileWriteronProjectTeam2</targetReference>
            </connector>
            <label>IsHelpFileWriterNotAssigned2</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesProductAvailabilitySpecialistNotExists</name>
        <label>DoesProductAvailabilitySpecialistNotExists?</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DoesHelpFileWriterNotExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProductAvailabilitySpecialistNotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Availability_Specialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProductAvailabilitySpecialistonProjectTeam</targetReference>
            </connector>
            <label>IsProductAvailabilitySpecialistNotAssigned</label>
        </rules>
        <rules>
            <name>IsProductAvailabilityisChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProductAvailabilitySpecialistonProjectTeam3</targetReference>
            </connector>
            <label>IsProductAvailabilityisChanged</label>
        </rules>
    </decisions>
    <description>Add Product availability Specialist and Help File Writer to Project Team</description>
    <environments>Default</environments>
    <interviewLabel>Project - Add PAS and HFW to Project Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add PAS and HFW to Project Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateHelpFileWriteronProjectTeam</name>
        <label>CreateHelpFileWriteronProjectTeam</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateHelpFileWriteronProjectTeam2</name>
        <label>CreateHelpFileWriteronProjectTeam2</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProductAvailabilitySpecialistonProjectTeam</name>
        <label>CreateProductAvailabilitySpecialistonProjectTeam</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>DoesHelpFileWriterNotExists2</targetReference>
        </connector>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProductAvailabilitySpecialistonProjectTeam3</name>
        <label>CreateProductAvailabilitySpecialistonProjectTeam3</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Help_File_Writer</name>
        <label>Get Help File Writer</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesProductAvailabilitySpecialistNotExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Availability_Specialist</name>
        <label>Get Product Availability Specialist</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Help_File_Writer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Availability_Specialist</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Product_Availability_Specialist__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Availability_Specialist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Help_File_Writer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Help_File_Writer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
