unpackaged/main/default/flows/Project_Task_Task_Add_Note_to_Notification_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_varSFTaskChatterRecord</name>
        <label>Assign varSFTaskChatterRecord</label>
        <locationX>408</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>varSFTASKFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Note_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSFTASKFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_SF_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varSFTaskChatterRecord_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varSFTaskChatterRecord_to_Collection</name>
        <label>Assign varSFTaskChatterRecord to Collection</label>
        <locationX>408</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>collectionSFChatterFeedRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSFTASKFeedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_SF_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_Task_or_Project_Tasks</name>
        <label>Is Record Task or Project Tasks?</label>
        <locationX>584</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectTaskId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Project_Task_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Note_to_Chatter_0</targetReference>
            </connector>
            <label>ProjectTaskId?</label>
        </rules>
        <rules>
            <name>TaskId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Task_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Note_to_Chatter</targetReference>
            </connector>
            <label>TaskId?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project Task/Task - Add Note to Notification Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task/Task - Add Note to Notification Log</label>
    <loops>
        <name>Loop_thru_SF_Records</name>
        <label>Loop thru SF Records</label>
        <locationX>320</locationX>
        <locationY>722</locationY>
        <collectionReference>Get_Related_Task_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_varSFTaskChatterRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Note_on_Notification_Log_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Note_on_Notification_Log</name>
        <label>Create Note on Notification Log</label>
        <locationX>586</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Create_Note_on_Notification_Log_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Add_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_on_Notification_Log_0</name>
        <label>Create Note on Notification Log</label>
        <locationX>584</locationX>
        <locationY>789</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Add_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Current_Task_Id.inspire1__Inspire_Task__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_on_Notification_Log_0_0</name>
        <label>Create Note on Notification Log</label>
        <locationX>295</locationX>
        <locationY>1242</locationY>
        <inputReference>collectionSFChatterFeedRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_on_Notification_Log_0_0_0</name>
        <label>Create Note on Notification Log</label>
        <locationX>321</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>Create_Note_on_Notification_Log_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Add_Note_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Project_Task_Id</name>
        <label>Get Current Project Task Id</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Task_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Tasks__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Task_Id</name>
        <label>Get Current Task Id</label>
        <locationX>584</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Task_or_Project_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Task_Records</name>
        <label>Get Related Task Records</label>
        <locationX>320</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_SF_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Inspire_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Project_Task_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Note_to_Chatter</name>
        <label>Add Note to Chatter</label>
        <locationX>584</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Note_on_Notification_Log</targetReference>
        </connector>
        <fields>
            <name>Add_Note</name>
            <fieldText>Enter Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Note_to_Chatter_0</name>
        <label>Add Note to Chatter</label>
        <locationX>320</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Related_Task_Records</targetReference>
        </connector>
        <fields>
            <name>Add_Note_0</name>
            <fieldText>Enter Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Project_Task_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionSFChatterFeedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSFTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varSFTASKFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
</Flow>
