unpackaged/main/default/flows/Project_Create_Project_Team_Pricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddtoProjectTeamCollection</name>
        <label>AddtoProjectTeamCollection</label>
        <locationX>1104</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectTeamSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Team_Single</name>
        <label>Assign Project Team Single</label>
        <locationX>1368</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoProjectTeamCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Project - Create Project Team Pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Create Project Team Pricing</label>
    <loops>
        <name>Loop_thru_Silo_Members</name>
        <label>Loop thru Silo Members</label>
        <locationX>974</locationX>
        <locationY>520</locationY>
        <collectionReference>Get_Silo_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Team_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Team</name>
        <label>Create Project Team</label>
        <locationX>1016</locationX>
        <locationY>976</locationY>
        <inputReference>ProjectTeamCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Silo_Members</name>
        <label>Get Silo Members</label>
        <locationX>928</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Silo_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>422</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Silo_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
</Flow>
