unpackaged/main/default/flows/Project_Add_PAS_and_HFW_to_Project_Team_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Does_PAS_and_HFW_Both_Exists</name>
        <label>Does PAS and HFW Both Exists?</label>
        <locationX>970</locationX>
        <locationY>580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PASandHFWBothExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Availability_Specialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePAS</targetReference>
            </connector>
            <label>PASandHFWBothExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesHelpFileWriterNotExists</name>
        <label>DoesHelpFileWriterNotExists</label>
        <locationX>316</locationX>
        <locationY>724</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHelpFileWriterNotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IsHelpFileWriterNotAssigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesHelpFileWriterNotExists2</name>
        <label>DoesHelpFileWriterNotExists2</label>
        <locationX>390</locationX>
        <locationY>871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHelpFileWriterNotAssigned2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHelpFileWriteronProjectTeam2</targetReference>
            </connector>
            <label>IsHelpFileWriterNotAssigned2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_HFW_Exists</name>
        <label>Get HFW Exists</label>
        <locationX>849</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_HFW_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHelpFileWriteronProjectTeam</targetReference>
            </connector>
            <label>Does HFW Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Product_Availaiblity_Specialist_Exists</name>
        <label>Get Product Availaiblity Specialist Exists</label>
        <locationX>723</locationX>
        <locationY>592</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesPASEXist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Availability_Specialist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProductAvailabilitySpecialistonProjectTeam</targetReference>
            </connector>
            <label>DoesPASEXist</label>
        </rules>
    </decisions>
    <decisions>
        <name>HFW_Exists</name>
        <label>HFW Exists</label>
        <locationX>1086</locationX>
        <locationY>748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HFWExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Help_File_Writer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHelpFileWriteronProjectTeam</targetReference>
            </connector>
            <label>HFWExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>PASandHelpFileWriter_Indicated</name>
        <label>PASandHelpFileWriter Indicated</label>
        <locationX>855</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Availability_Specialist_Indicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Availaiblity_Specialist_Exists</targetReference>
            </connector>
            <label>Product Availability Specialist Indicated</label>
        </rules>
        <rules>
            <name>Help_File_Writer_Indicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Help_File_Writer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HFW_Exists</targetReference>
            </connector>
            <label>Help File Writer Indicated</label>
        </rules>
        <rules>
            <name>Both_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Help_File_Writer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Availability_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_PAS_and_HFW_Both_Exists</targetReference>
            </connector>
            <label>Both Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Add PAS and HFW to Project Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add PAS and HFW to Project Team Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateHelpFileWriteronProjectTeam</name>
        <label>CreateHelpFileWriteronProjectTeam</label>
        <locationX>865</locationX>
        <locationY>912</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateHelpFileWriteronProjectTeam2</name>
        <label>CreateHelpFileWriteronProjectTeam2</label>
        <locationX>486</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePAS</name>
        <label>CreatePAS</label>
        <locationX>1120</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>HFW_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProductAvailabilitySpecialistonProjectTeam</name>
        <label>CreateProductAvailabilitySpecialistonProjectTeam</label>
        <locationX>512</locationX>
        <locationY>696</locationY>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Role__c</field>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Help_File_Writer</name>
        <label>Get Help File Writer</label>
        <locationX>780</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PASandHelpFileWriter_Indicated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Help_File_Writer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Help File Writer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Availability_Specialist</name>
        <label>Get Product Availability Specialist</label>
        <locationX>871</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Help_File_Writer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Availability_Specialist__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product_Availability_Specialist</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Product_Availability_Specialist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Help_File_Writer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
