unpackaged/main/default/flows/Project_Populate_Members_Overview_Pre_obs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_FIT_Direct_Marketing_Specialist</name>
        <label>Assign FIT Direct Marketing Specialist</label>
        <locationX>4224</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Direct_Marketing_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Online_Marketing_Specialist</name>
        <label>Assign FIT Online Marketing Specialist</label>
        <locationX>1232</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Online_Marketing_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Photography</name>
        <label>Assign FIT Photography</label>
        <locationX>1496</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Photography__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Product_Launch_Specialist</name>
        <label>Assign FIT Product Launch Specialist</label>
        <locationX>2112</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Product_Launch_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Technical_Marketer</name>
        <label>Assign FIT Technical Marketer</label>
        <locationX>792</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Technical_Marketer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PIM_Launch_Data_Steward</name>
        <label>Assign PIM Launch Data Steward</label>
        <locationX>3168</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.PIM_Launch_Data_Steward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Availability_Junior_Planner</name>
        <label>Assign Product Availability Junior Planner</label>
        <locationX>3784</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Availability_Junior_Planner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Engineer</name>
        <label>Assign Product Engineer</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Manager</name>
        <label>Assign Product Manager</label>
        <locationX>528</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Support_Training_Lead</name>
        <label>Assign Technical Support Training Lead</label>
        <locationX>2904</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Technical_Support_Training_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Overview_Page_Role</name>
        <label>Determine Overview Page Role</label>
        <locationX>2376</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Engineer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Engineer</targetReference>
            </connector>
            <label>Product Engineer</label>
        </rules>
        <rules>
            <name>Product_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Manager</targetReference>
            </connector>
            <label>Product Manager</label>
        </rules>
        <rules>
            <name>FIT_Technical_Marketer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Technical Marketer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Technical_Marketer</targetReference>
            </connector>
            <label>FIT Technical Marketer</label>
        </rules>
        <rules>
            <name>PIM_Product_Data_Steward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIM Product Data Steward</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>PIM Product Data Steward</label>
        </rules>
        <rules>
            <name>FIT_Online_Marketing_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Online Marketing Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Online_Marketing_Specialist</targetReference>
            </connector>
            <label>FIT Online Marketing Specialist</label>
        </rules>
        <rules>
            <name>FIT_Photography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Art Director/Photography Technical Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Photography</targetReference>
            </connector>
            <label>FIT Photography</label>
        </rules>
        <rules>
            <name>FIT_CAD_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Cad Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>FIT CAD Specialist</label>
        </rules>
        <rules>
            <name>Logistics_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics Coordinator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Logistics Coordinator</label>
        </rules>
        <rules>
            <name>FIT_Product_Launch_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Product Launch Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Product_Launch_Specialist</targetReference>
            </connector>
            <label>FIT Product Launch Specialist</label>
        </rules>
        <rules>
            <name>Compliance_Team_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Team Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Compliance Team Lead</label>
        </rules>
        <rules>
            <name>Help_File_Writer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Help File Writer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Help File Writer</label>
        </rules>
        <rules>
            <name>Safety_Emergency_Response_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Emergency Response Coordinator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Safety &amp; Emergency Response Coordinator</label>
        </rules>
        <rules>
            <name>Technical_Support_Training_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Support Training Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Technical_Support_Training_Lead</targetReference>
            </connector>
            <label>Technical Support Training Lead</label>
        </rules>
        <rules>
            <name>PIM_Launch_Data_Steward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIM Launch Data Steward</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PIM_Launch_Data_Steward</targetReference>
            </connector>
            <label>PIM Launch Data Steward</label>
        </rules>
        <rules>
            <name>Technical_Writer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Writer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Technical Writer</label>
        </rules>
        <rules>
            <name>Logistical_Product_Launch_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistical Product Launch Coordinator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>Logistical Product Launch Coordinator</label>
        </rules>
        <rules>
            <name>Product_Availability_Junior_Planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Availability Junior Planner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Availability_Junior_Planner</targetReference>
            </connector>
            <label>Product Availability Junior Planner</label>
        </rules>
        <rules>
            <name>VAS_Required_Teamer</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Value_Add_Services_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Value_Add_Services_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cut-to-Length Cable/Wire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Value_Add_Services_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cut-to-Length T-Slotted Rails</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Value_Add_Services_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAS Repackaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Silo_Members</targetReference>
            </connector>
            <label>VAS Required Teamer</label>
        </rules>
        <rules>
            <name>FIT_Direct_Marketing_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Direct Marketing Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Direct_Marketing_Specialist</targetReference>
            </connector>
            <label>FIT Direct Marketing Specialist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Record_Type</name>
        <label>Switch Record Type</label>
        <locationX>3520</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Obs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Obs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Overview_Page_Role</targetReference>
            </connector>
            <label>Pre-Obs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Populate Members Overview Pre-obs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Populate Members Overview Pre-obs</label>
    <loops>
        <name>Loop_thru_Silo_Members</name>
        <label>Loop thru Silo Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Silo_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Switch_Record_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Silo_Members</name>
        <label>Get Silo Members</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Silo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Silo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Silo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>PreObs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Silo_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Silo_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Obs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Silo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>varFITTechnicalMarketer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductEngineerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Get the Silo that is selected</description>
        <name>varSilo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
