unpackaged/main/default/flows/Project_Add_PATL_ATL_to_Project_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddtoProjectTeamCollection</name>
        <label>AddtoProjectTeamCollection</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectTeamSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Team_Single</name>
        <label>Assign Project Team Single</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamSingle.inspire1__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoProjectTeamCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_PATL_or_ATL_already_exists_on_Project_Team</name>
        <label>Decision PATL or ATL already exists on Project Team</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesPATLorATLDoesNotExistsonProjectTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Team_PATL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project_Team_ATL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Team</targetReference>
            </connector>
            <label>DoesPATLorATLDoesNotExistsonProjectTeam</label>
        </rules>
    </decisions>
    <description>When New Supplier is selected, it will systematically add the Product Availability Team Lead and Account Team Lead Silo Members to the Project Team</description>
    <environments>Default</environments>
    <interviewLabel>Project - Add PATL/ATL to Project Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add PATL/ATL to Project Team</label>
    <loops>
        <name>Loop_thru_Silo_Members</name>
        <label>Loop thru Silo Members</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Silo_Members_PATL_ATL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Team_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Project_Team_PATL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Product Availability Team Lead and Accounting Team Lead</description>
        <name>Create_Project_Team</name>
        <label>Create Project Team</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>ProjectTeamCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Team_ATL</name>
        <label>Get Project Team ATL</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_PATL_or_ATL_already_exists_on_Project_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting Team Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team_PATL</name>
        <label>Get Project Team PATL</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Team_ATL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Team Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Silo_Members_PATL_ATL</name>
        <label>Get Silo Members - PATL/ATL</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Availability Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting Team Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Silo_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Silo_Members_PATL_ATL</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>New_Supplier__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Silo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <description>Project Team Record type</description>
        <name>ProjectTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
</Flow>
