unpackaged/main/default/flows/Project_Team_Send_Multiple_Project_Teamers_Notification_NEW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Selected_Teamer</name>
        <label>Send Email to Selected Teamer</label>
        <locationX>838</locationX>
        <locationY>1808</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectMessageFormProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Project.Name} Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Selected_Teamer_Pricing</name>
        <label>Send Email to Selected Teamer Pricing</label>
        <locationX>841</locationX>
        <locationY>1916</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectMessageFormPricing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Project.Name} Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Selected_Teamer_Pricing_0</name>
        <label>Send Email to Selected Teamer Pricing</label>
        <locationX>916</locationX>
        <locationY>1991</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectMessageFormPreObs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Project.Name} Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Selected_Teamers</name>
        <label>Send Email to Selected Teamers</label>
        <locationX>461</locationX>
        <locationY>2140</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Project_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_Project.Name} Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign new VarTeamRecordName</label>
        <locationX>971</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Get_Project_Team.inspire1__Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamRecordNewwithRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Teamer_Record_to_Teamer_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_an_email_list</name>
        <label>Assign an email list</label>
        <locationX>1079</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Selected_Teamer_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_email_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name_and_Project_Manager</name>
        <label>Assign Project Name and Project Manager</label>
        <locationX>695</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>ProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiloMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Silo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlannedStartMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Planned_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlannedFinishMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Planned_Finish__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPlartsMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.No_of_parts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PercentCompleteMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.inspire1__Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Projected3rdYearSalesMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Projected_3rd_Year_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineExtMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Line_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuppliersNameMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Supplier_s_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSupplierMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.New_Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueAddServicesRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Value_Add_Services_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CutToLengthMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Value_Add_Services_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISOPurchaseOrderNoMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.ISO_Purchase_Order_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ISODeliveryDateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.ISO_Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialStockingOrderDolAmountMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Initial_Stock_Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManualRequiredMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Manual_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimatedNoofOnlineTechnicalPagesMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Estimated_of_Online_Technical_Pages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstNoOfPhotosMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Est_No_of_photos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductInsertorSupplementorQSGMessge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Product_insert_or_supplement_or_QSG_requ__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupplierBrandorPrivateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Supplier_s_Brand_or_Private_Labeled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncludesDropShipItemsMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Includes_drop_ship_items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SilosAffectedMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Silos_Affected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceChangeTypeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Price_Change_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductManagerPriceChangeDueDateMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Product_Manager_Price_Change_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastTimeBuyMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Last_Time_Buy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DirectMailerMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Direct_Mailer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DirectReplacementMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Direct_Replacement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductAdvisoryMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Product_Advisory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WebNoteMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Web_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailNotificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Email_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedReplacementMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectName.Suggested_Replacement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectPTMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Update</name>
        <label>Assign Status Update</label>
        <locationX>676</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectMessageFormProductLaunch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SentTo:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmails2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[{!Get_Project.Name}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Label.SalesforceURL}/{!Get_Project.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEmailsExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Update_0</name>
        <label>Assign Status Update</label>
        <locationX>373</locationX>
        <locationY>1917</locationY>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectMessageFormPricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SentTo:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmails2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[{!Get_Project.Name}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Label.SalesforceURL}/{!Get_Project.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEmailsExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Update_0_0</name>
        <label>Assign Status Update</label>
        <locationX>366</locationX>
        <locationY>2029</locationY>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectMessageFormPreObs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SentTo:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmails2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[{!Get_Project.Name}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Label.SalesforceURL}/{!Get_Project.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEmailsExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Teamer_Record</name>
        <label>Assign Teamer Record</label>
        <locationX>971</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>varTeamerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamer_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Teamer_Record_to_Teamer_Collection</name>
        <label>Assign Teamer Record to Teamer Collection</label>
        <locationX>971</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>varTeamerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTeamRecordNewwithRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Get_Project_Team</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CollectionSortbyTeamer</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>CollectionSortbyTeamer</label>
        <locationX>877</locationX>
        <locationY>340</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Team</collectionReference>
        <connector>
            <targetReference>GetProjectName</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>inspire1__Resource_Name__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>inspire1__Role__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_VarSelectedTeamer_Collection_by_Email</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort VarSelectedTeamer Collection by Email</label>
        <locationX>480</locationX>
        <locationY>1546</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varTeamerCollection</collectionReference>
        <connector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Email</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Current_email_is_not_null</name>
        <label>Current email is not null</label>
        <locationX>1147</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailisNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Selected_Teamer_Collection.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Record_Type_0</targetReference>
            </connector>
            <label>EmailisNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCurrentEMailNOTSameasLast</name>
        <label>IsCurrentEMailNOTSameasLast</label>
        <locationX>931</locationX>
        <locationY>1606</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Selected_Teamer_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentEMailNOTSameasDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Selected_Teamer_Collection.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varEmails</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_an_email_list</targetReference>
            </connector>
            <label>IsCurrentEMailNOTSameasDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEmailsExists</name>
        <label>IsEmailsExists</label>
        <locationX>683</locationX>
        <locationY>2120</locationY>
        <defaultConnector>
            <targetReference>No_Teamer_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Current_Item_Feed_on_Project</targetReference>
            </connector>
            <label>EmailsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Record_Type</name>
        <label>Project Record Type</label>
        <locationX>498</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductLaunch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product_Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Message_0</targetReference>
            </connector>
            <label>ProductLaunch?</label>
        </rules>
        <rules>
            <name>Pricing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Message_0_0</targetReference>
            </connector>
            <label>Pricing?</label>
        </rules>
        <rules>
            <name>PreObs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_obs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Message_0_0_0</targetReference>
            </connector>
            <label>PreObs?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Record_Type_0</name>
        <label>Project Record Type</label>
        <locationX>956</locationX>
        <locationY>1846</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductLaunch_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product_Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Selected_Teamer</targetReference>
            </connector>
            <label>ProductLaunch</label>
        </rules>
        <rules>
            <name>Pricing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Selected_Teamer_Pricing</targetReference>
            </connector>
            <label>Pricing</label>
        </rules>
        <rules>
            <name>PreObs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_obs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Selected_Teamer_Pricing_0</targetReference>
            </connector>
            <label>PreObs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectTeam_Exists</name>
        <label>ProjectTeam Exists?</label>
        <locationX>883</locationX>
        <locationY>1262</locationY>
        <defaultConnector>
            <targetReference>NoProjectTeamScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Project Team</defaultConnectorLabel>
        <rules>
            <name>Project_Team_Do_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTDatatable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Message</targetReference>
            </connector>
            <label>Project Team Do Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_for_Feed_Message</name>
        <label>Record Type for Feed Message</label>
        <locationX>474</locationX>
        <locationY>1761</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PLaunch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product_Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Update</targetReference>
            </connector>
            <label>PLaunch</label>
        </rules>
        <rules>
            <name>Pricing1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Update_0</targetReference>
            </connector>
            <label>Pricing</label>
        </rules>
        <rules>
            <name>PreObs1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_obs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Update_0_0</targetReference>
            </connector>
            <label>PreObs</label>
        </rules>
    </decisions>
    <decisions>
        <name>TeamerhasPermission</name>
        <label>TeamerhasPermission?</label>
        <locationX>881</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>ProjectTeamersNoPermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectAdminsCustomPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Project_Admins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Team</targetReference>
            </connector>
            <label>ProjectAdminsCustomPermission</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListProjectTeamSelectionCollection</name>
        <collectionReference>Get_Project_Team</collectionReference>
        <dataType>String</dataType>
        <displayField>inspire1__User__c</displayField>
        <object>inspire1__Project_Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListProjectTeamSelectionCollection2</name>
        <collectionReference>varTeamerCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formIncludesDropShipItems</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.Includes_drop_ship_items__c}=TRUE, &#39;Yes&#39;, &#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>formIncludesdropshipItemsMessage</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.Includes_drop_ship_items__c} = False, &#39;No&#39;, &#39;Yes&#39;)</expression>
    </formulas>
    <formulas>
        <name>formLineExtension</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.Line_Extension__c}=True, &#39;Yes&#39;, &#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>formLineExtMessage</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.Line_Extension__c} = False, &#39;No&#39;, &#39;Yes&#39;)</expression>
    </formulas>
    <formulas>
        <name>formNewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>formNewSupplier</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.New_Supplier__c}=TRUE, &#39;Yes&#39;, &#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>formNewSupplierMessage</name>
        <dataType>String</dataType>
        <expression>If({!GetProjectName.New_Supplier__c} = False, &#39;No&#39;, &#39;Yes&#39;)</expression>
    </formulas>
    <formulas>
        <name>formVASRequiredMessage</name>
        <dataType>String</dataType>
        <expression>If({!ValueAddServicesRequiredMessage}=&#39;&#39;, &quot;&quot;,&quot;•  Value Add Services Required: &quot; &amp; {!ValueAddServicesRequiredMessage})</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>ProjectMessageFormPreObs</name>
        <dataType>String</dataType>
        <expression>If({!Include_Project_Details_for_Pre_Obs} = TRUE, 
{!Project_Message} &amp; {!NewLine} &amp; {!NewLine} &amp;
&quot;•   Silo: &quot; &amp; {!SiloMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Start: &quot; &amp; {!PlannedStartMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Finish: &quot; &amp; {!PlannedFinishMessage} &amp; {!NewLine} &amp;
&quot;•   Supplier&#39;s Name: &quot; &amp; {!SuppliersNameMessage} &amp; {!NewLine} &amp;
&quot;•   Supplier&#39;s Brand or Private Labeled: &quot; &amp; {!SupplierBrandorPrivateMessage} &amp; {!NewLine} &amp;
&quot;•  Last Time Buy: &quot; &amp; {!LastTimeBuyMessage} &amp; {!NewLine} &amp;
&quot;•  Direct Mailer: &quot; &amp; {!DirectMailerMessage} &amp; {!NewLine} &amp;
&quot;•  Direct Replacement: &quot; &amp; {!DirectReplacementMessage} &amp; {!NewLine} &amp;
&quot;•  Product Advisory: &quot; &amp; {!ProductAdvisoryMessage} &amp; {!NewLine} &amp;
&quot;•  Email Notification: &quot; &amp; {!EmailNotificationMessage} &amp; {!NewLine} &amp;
&quot;•  Web Note: &quot; &amp; {!WebNoteMessage} &amp; {!NewLine} &amp;
&quot;•  Suggested Replacement: &quot; &amp; {!SuggestedReplacementMessage} &amp; {!NewLine} &amp;
{!formVASRequiredMessage},
{!Project_Message}) &amp; BR() &amp;
{!$Label.SalesforceURL} &amp; &quot;/&quot; &amp;{!Get_Project.Id}</expression>
    </formulas>
    <formulas>
        <name>ProjectMessageFormPricing</name>
        <dataType>String</dataType>
        <expression>If({!Include_Project_Details_for_Pricing} = TRUE, 
{!Project_Message} &amp; {!NewLine} &amp; {!NewLine} &amp;
&quot;•   Silo Affected: &quot; &amp; {!SilosAffectedMessage} &amp; {!NewLine} &amp;
&quot;•   Price Change Type: &quot; &amp; {!PriceChangeTypeMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Start: &quot; &amp; {!PlannedStartMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Finish: &quot; &amp; {!PlannedFinishMessage} &amp; {!NewLine} &amp;
&quot;•   Product Manager Price Change Due Date: &quot; &amp; {!ProductManagerPriceChangeDueDateMessage} ,
{!Project_Message}) &amp; BR() &amp;
{!$Label.SalesforceURL} &amp; &quot;/&quot; &amp;{!Get_Project.Id}</expression>
    </formulas>
    <formulas>
        <name>ProjectMessageFormProductLaunch</name>
        <dataType>String</dataType>
        <expression>If({!Include_Project_Details_for_Product_Launch} = TRUE, 
{!Project_Message} &amp; {!NewLine} &amp; {!NewLine} &amp;
&quot;•   Silo: &quot; &amp; {!SiloMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Start: &quot; &amp; {!PlannedStartMessage} &amp; {!NewLine} &amp;
&quot;•   Planned Finish: &quot; &amp; {!PlannedFinishMessage} &amp; {!NewLine} &amp;
&quot;•   # of Parts: &quot; &amp; {!NoOfPlartsMessage} &amp; {!NewLine} &amp;
&quot;•   Projected 3rd Year Sales: &quot; &amp; {!Projected3rdYearSalesMessage} &amp; {!NewLine} &amp;
&quot;•   Line Ext?: &quot; &amp; {!formIncludesDropShipItems} &amp; {!NewLine} &amp;
&quot;•   Supplier&#39;s Name: &quot; &amp; {!SuppliersNameMessage} &amp; {!NewLine} &amp;
&quot;•   New Supplier?: &quot; &amp; {!formNewSupplier} &amp; {!NewLine} &amp;
&quot;•   Supplier&#39;s Brand or Private Labeled: &quot; &amp; {!SupplierBrandorPrivateMessage} &amp; {!NewLine} &amp;
&quot;•   Includes Drop-ship Items: &quot; &amp; {!formIncludesDropShipItems} &amp; {!NewLine} &amp;
&quot;•   ISO Purchase Order #: &quot; &amp; {!ISOPurchaseOrderNoMessage} &amp; {!NewLine} &amp;
&quot;•   ISO Delivery Date: &quot; &amp; {!ISODeliveryDateMessage} &amp; {!NewLine} &amp;
&quot;•   Initial Stocking Order $ Amount: &quot; &amp; {!InitialStockingOrderDolAmountMessage} &amp; {!NewLine} &amp;
&quot;•   Manual Required?: &quot; &amp; {!ManualRequiredMessage} &amp; {!NewLine} &amp;
&quot;•   Estimated # of Online Technical Pages: &quot; &amp; {!EstimatedNoofOnlineTechnicalPagesMessage} &amp; {!NewLine} &amp;
&quot;•   Est. # of Photos: &quot; &amp; {!EstNoOfPhotosMessage} &amp; {!NewLine} &amp;
&quot;•   Product insert, supplement or QSG: &quot; &amp; {!ProductInsertorSupplementorQSGMessge} &amp; {!NewLine} &amp;
{!formVASRequiredMessage},
{!Project_Message}) &amp; BR() &amp;
{!$Label.SalesforceURL} &amp; &quot;/&quot; &amp;{!Get_Project.Id}</expression>
    </formulas>
    <interviewLabel>Project Team - Send Multiple Project Teamers Notification NEW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Team - Send Multiple Project Teamers Notification NEW</label>
    <loops>
        <name>Loop_thru_Get_Project_Team</name>
        <label>Loop thru Get Project Team</label>
        <locationX>883</locationX>
        <locationY>566</locationY>
        <collectionReference>PTDatatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Teamer_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProjectTeam_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Selected_Teamer_Collection</name>
        <label>Loop thru Selected Teamer Collection</label>
        <locationX>624</locationX>
        <locationY>1621</locationY>
        <collectionReference>varTeamerCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCurrentEMailNOTSameasLast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Type_for_Feed_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Current_Item_Feed_on_Project</name>
        <label>Create a Current Item Feed on Project</label>
        <locationX>553</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Emailsentscreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>VarNewStatusUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>883</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Get_Project_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team</name>
        <label>Get Project Team</label>
        <locationX>1094</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectionSortbyTeamer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Teamer_Record</name>
        <label>Get Teamer Record</label>
        <locationX>971</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Teamer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_Get_Project_Team.inspire1__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectName</name>
        <label>GetProjectName</label>
        <locationX>594</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Project_Name_and_Project_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Emailsentscreen</name>
        <label>Emailsentscreen</label>
        <locationX>553</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>emailssent</name>
            <fieldText>&lt;p&gt;{!VarNewStatusUpdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Message</name>
        <label>Enter Message</label>
        <locationX>631</locationX>
        <locationY>1300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Project_Record_Type</targetReference>
        </connector>
        <fields>
            <name>ProjectNameTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ProjectName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Project_Details</name>
            <dataType>Boolean</dataType>
            <fieldText>Show Project Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Include_Project_Details_for_Product_Launch</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectName2</name>
                    <fieldText>&lt;p&gt;Project Name:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Silo</name>
                    <fieldText>&lt;p&gt;Silo:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Silo__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Show_Project_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>&lt;p&gt;Description&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Line</name>
                    <fieldText>&lt;p&gt;Product Line:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Product_Line__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedStrt</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned Start:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Planned_Start__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedFinish</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Finish:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProjectName.Planned_Finish__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoOfParts</name>
                    <fieldText>&lt;p&gt;# of Parts:&lt;/p&gt;&lt;p&gt;{!GetProjectName.No_of_parts__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentComplete</name>
                    <fieldText>&lt;p&gt;% Complete:&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Complete__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Projected3rdYearSales</name>
                    <fieldText>&lt;p&gt;Projected 3rd Year Sales:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Projected_3rd_Year_Sales__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineExt</name>
                    <fieldText>&lt;p&gt;Line Ext?&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!formLineExtension}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupplierName</name>
                    <fieldText>&lt;p&gt;Supplier&#39;s Name:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Supplier_s_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSupplier</name>
                    <fieldText>&lt;p&gt;New Supplier?&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!formNewSupplier}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncludesdropshipItems</name>
                    <fieldText>&lt;p&gt;Includes drop-ship Items?&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!formIncludesDropShipItems}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValueAddServicesRequired2</name>
                    <fieldText>&lt;p&gt;Value Add Services Required:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Value_Add_Services_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISOPurchaseOrderNo</name>
                    <fieldText>&lt;p&gt;ISO Purchase Order #:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Purchase_Order_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISODeliveryDate</name>
                    <fieldText>&lt;p&gt;ISO Delivery Date:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Delivery_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InitialStockOrderDolAmount</name>
                    <fieldText>&lt;p&gt;Initial Stocking Order $ Amount:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Initial_Stock_Order_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManualRequired</name>
                    <fieldText>&lt;p&gt;Manual Required?:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Manual_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstimatedNoOfOnlineTechnicalPages</name>
                    <fieldText>&lt;p&gt;Estimated # of Online Technical Pages:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Estimated_of_Online_Technical_Pages__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstNoOfPhotos</name>
                    <fieldText>&lt;p&gt;Est. # of Photos:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Est_No_of_photos__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductInsertOrSupplementOrQSG</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Product insert, supplement or QSG?:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!GetProjectName.Product_insert_or_supplement_or_QSG_requ__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuppliersBrandorPrivateLabeled</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Supplier&#39;s Brand or Private Labeled&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetProjectName.Supplier_s_Brand_or_Private_Labeled__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Message</name>
                    <defaultValue>
                        <stringValue>Hi Team,
</stringValue>
                    </defaultValue>
                    <fieldText>Project Message</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Include_Project_Details_for_Product_Launch</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Project Details for Product Launch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Product_Launch</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Include_Project_Details_for_Pricing</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Project Details for Pricing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pricing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Include_Project_Details_for_Pre_Obs</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Project Details for Pre-Obs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pre_obs</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Message_0</name>
        <label>Enter Message</label>
        <locationX>444</locationX>
        <locationY>1426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sort_VarSelectedTeamer_Collection_by_Email</targetReference>
        </connector>
        <fields>
            <name>ProjectNameTitle_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ProjectName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Project_Details_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Show Project Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Message_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectName2_0</name>
                    <fieldText>&lt;p&gt;Project Name:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Silo_0</name>
                    <fieldText>&lt;p&gt;Silo:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Silo__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Show_Project_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_0</name>
                    <fieldText>&lt;p&gt;Description&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Line_0</name>
                    <fieldText>&lt;p&gt;Product Line:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Product_Line__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedStrt_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned Start:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Planned_Start__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedFinish_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Finish:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProjectName.Planned_Finish__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoOfParts_0</name>
                    <fieldText>&lt;p&gt;# of Parts:&lt;/p&gt;&lt;p&gt;{!GetProjectName.No_of_parts__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentComplete_0</name>
                    <fieldText>&lt;p&gt;% Complete:&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Complete__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Projected3rdYearSales_0</name>
                    <fieldText>&lt;p&gt;Projected 3rd Year Sales:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Projected_3rd_Year_Sales__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineExt_0</name>
                    <fieldText>&lt;p&gt;Line Ext?&lt;/p&gt;&lt;p&gt;{!formLineExtMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupplierName_0</name>
                    <fieldText>&lt;p&gt;Supplier&#39;s Name:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Supplier_s_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSupplier_0</name>
                    <fieldText>&lt;p&gt;New Supplier?&lt;/p&gt;&lt;p&gt;{!formNewSupplierMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncludesdropshipItems_0</name>
                    <fieldText>&lt;p&gt;Includes drop-ship Items?&lt;/p&gt;&lt;p&gt;{!formIncludesdropshipItemsMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValueAddServicesRequired</name>
                    <fieldText>&lt;p&gt;Value Add Services Required:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Value_Add_Services_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISOPurchaseOrderNo_0</name>
                    <fieldText>&lt;p&gt;ISO Purchase Order #:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Purchase_Order_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISODeliveryDate_0</name>
                    <fieldText>&lt;p&gt;ISO Delivery Date:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Delivery_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InitialStockOrderDolAmount_0</name>
                    <fieldText>&lt;p&gt;Initial Stocking Order $ Amount:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Initial_Stock_Order_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManualRequired_0</name>
                    <fieldText>&lt;p&gt;Manual Required?:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Manual_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstimatedNoOfOnlineTechnicalPages_0</name>
                    <fieldText>&lt;p&gt;Estimated # of Online Technical Pages:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Estimated_of_Online_Technical_Pages__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstNoOfPhotos_0</name>
                    <fieldText>&lt;p&gt;Est. # of Photos:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Est_No_of_photos__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductInsertOrSupplementOrQSG_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Product insert or supplement or QSG?:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Product_insert_or_supplement_or_QSG_requ__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuppliersBrandorPrivateLabeled_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Supplier&#39;s Brand or Private Labeled:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Supplier_s_Brand_or_Private_Labeled__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Message_before_SendingSection</name>
            <fieldText>Review Message before Sending</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Message_before_SendingSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Message_before_sending</name>
                    <fieldText>&lt;p&gt;{!ProjectMessageFormProductLaunch}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Message_before_SendingSection_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Message_0_0</name>
        <label>Enter Message</label>
        <locationX>545</locationX>
        <locationY>1423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sort_VarSelectedTeamer_Collection_by_Email</targetReference>
        </connector>
        <fields>
            <name>ProjectNameTitle_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ProjectName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Project_Details_0_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Show Project Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Product Launch</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectName2_0_0</name>
                    <fieldText>&lt;p&gt;Project Name:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Silo_0_0</name>
                    <fieldText>&lt;p&gt;Silo:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Silo__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Show_Project_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_0_0</name>
                    <fieldText>&lt;p&gt;Description&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Line_0_0</name>
                    <fieldText>&lt;p&gt;Product Line:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Product_Line__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedStrt_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned Start:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Planned_Start__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedFinish_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Finish:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProjectName.Planned_Finish__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoOfParts_0_0</name>
                    <fieldText>&lt;p&gt;# of Parts:&lt;/p&gt;&lt;p&gt;{!GetProjectName.No_of_parts__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentComplete_0_0</name>
                    <fieldText>&lt;p&gt;% Complete:&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Complete__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Projected3rdYearSales_0_0</name>
                    <fieldText>&lt;p&gt;Projected 3rd Year Sales:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Projected_3rd_Year_Sales__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineExt_0_0</name>
                    <fieldText>&lt;p&gt;Line Ext?&lt;/p&gt;&lt;p&gt;{!formLineExtMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupplierName_0_0</name>
                    <fieldText>&lt;p&gt;Supplier&#39;s Name:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Supplier_s_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSupplier_0_0</name>
                    <fieldText>&lt;p&gt;New Supplier?&lt;/p&gt;&lt;p&gt;{!formNewSupplierMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncludesdropshipItems_0_0</name>
                    <fieldText>&lt;p&gt;Includes drop-ship Items?&lt;/p&gt;&lt;p&gt;{!formIncludesdropshipItemsMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValueAddServicesRequired_0</name>
                    <fieldText>&lt;p&gt;Value Add Services Required:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Value_Add_Services_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISOPurchaseOrderNo_0_0</name>
                    <fieldText>&lt;p&gt;ISO Purchase Order #:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Purchase_Order_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISODeliveryDate_0_0</name>
                    <fieldText>&lt;p&gt;ISO Delivery Date:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Delivery_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InitialStockOrderDolAmount_0_0</name>
                    <fieldText>&lt;p&gt;Initial Stocking Order $ Amount:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Initial_Stock_Order_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManualRequired_0_0</name>
                    <fieldText>&lt;p&gt;Manual Required?:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Manual_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstimatedNoOfOnlineTechnicalPages_0_0</name>
                    <fieldText>&lt;p&gt;Estimated # of Online Technical Pages:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Estimated_of_Online_Technical_Pages__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstNoOfPhotos_0_0</name>
                    <fieldText>&lt;p&gt;Est. # of Photos:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Est_No_of_photos__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductInsertOrSupplementOrQSG_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Product insert or supplement or QSG?:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Product_insert_or_supplement_or_QSG_requ__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuppliersBrandorPrivateLabeled_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Supplier&#39;s Brand or Private Labeled:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Supplier_s_Brand_or_Private_Labeled__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Message_before_SendingSection_0</name>
            <fieldText>Review Message before Sending</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Message_before_SendingSection_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Message_before_sending_0</name>
                    <fieldText>&lt;p&gt;{!ProjectMessageFormPricing}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Message_before_SendingSection_0_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Message_0_0_0</name>
        <label>Enter Message</label>
        <locationX>702</locationX>
        <locationY>1442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sort_VarSelectedTeamer_Collection_by_Email</targetReference>
        </connector>
        <fields>
            <name>ProjectNameTitle_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ProjectName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Project_Details_0_0_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Show Project Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectName.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Product_Launch</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectName2_0_0_0</name>
                    <fieldText>&lt;p&gt;Project Name:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Silo_0_0_0</name>
                    <fieldText>&lt;p&gt;Silo:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Silo__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Show_Project_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_0_0_0</name>
                    <fieldText>&lt;p&gt;Description&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Line_0_0_0</name>
                    <fieldText>&lt;p&gt;Product Line:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Product_Line__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedStrt_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned Start:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Planned_Start__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlannedFinish_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Finish:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProjectName.Planned_Finish__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoOfParts_0_0_0</name>
                    <fieldText>&lt;p&gt;# of Parts:&lt;/p&gt;&lt;p&gt;{!GetProjectName.No_of_parts__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentComplete_0_0_0</name>
                    <fieldText>&lt;p&gt;% Complete:&lt;/p&gt;&lt;p&gt;{!GetProjectName.inspire1__Complete__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Projected3rdYearSales_0_0_0</name>
                    <fieldText>&lt;p&gt;Projected 3rd Year Sales:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Projected_3rd_Year_Sales__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LineExt_0_0_0</name>
                    <fieldText>&lt;p&gt;Line Ext?&lt;/p&gt;&lt;p&gt;{!GetProjectName.Line_Extension__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupplierName_0_0_0</name>
                    <fieldText>&lt;p&gt;Supplier&#39;s Name:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Supplier_s_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSupplier_0_0_0</name>
                    <fieldText>&lt;p&gt;New Supplier?&lt;/p&gt;&lt;p&gt;{!GetProjectName.New_Supplier__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IncludesdropshipItems_0_0_0</name>
                    <fieldText>&lt;p&gt;Includes drop-ship Items?&lt;/p&gt;&lt;p&gt;{!GetProjectName.Includes_drop_ship_items__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValueAddServicesRequired_0_0</name>
                    <fieldText>&lt;p&gt;Value Add Services Required:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Value_Add_Services_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISOPurchaseOrderNo_0_0_0</name>
                    <fieldText>&lt;p&gt;ISO Purchase Order #:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Purchase_Order_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISODeliveryDate_0_0_0</name>
                    <fieldText>&lt;p&gt;ISO Delivery Date:&lt;/p&gt;&lt;p&gt;{!GetProjectName.ISO_Delivery_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InitialStockOrderDolAmount_0_0_0</name>
                    <fieldText>&lt;p&gt;Initial Stocking Order $ Amount:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Initial_Stock_Order_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManualRequired_0_0_0</name>
                    <fieldText>&lt;p&gt;Manual Required?:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Manual_Required__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstimatedNoOfOnlineTechnicalPages_0_0_0</name>
                    <fieldText>&lt;p&gt;Estimated # of Online Technical Pages:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Estimated_of_Online_Technical_Pages__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EstNoOfPhotos_0_0_0</name>
                    <fieldText>&lt;p&gt;Est. # of Photos:&lt;/p&gt;&lt;p&gt;{!GetProjectName.Est_No_of_photos__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Message_0_0_0_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Message_0_0_0_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductInsertOrSupplementOrQSG_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Product insert or supplement or QSG?:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Product_insert_or_supplement_or_QSG_requ__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Message_0_0_0_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuppliersBrandorPrivateLabeled_0_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Supplier&#39;s Brand or Private Labeled:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetProjectName.Supplier_s_Brand_or_Private_Labeled__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Project_Details_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Message_before_SendingSection_0_0</name>
            <fieldText>Review Message before Sending</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Message_before_SendingSection_0_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Message_before_sending_0_0</name>
                    <fieldText>&lt;p&gt;{!ProjectMessageFormPreObs}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Message_before_SendingSection_0_0_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Teamer_Selected</name>
        <label>No Teamer Selected</label>
        <locationX>817</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTeamerSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Sorry, no teamer(s) were selected to send an email too.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoProjectTeamScreen</name>
        <label>NoProjectTeam</label>
        <locationX>1081</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoProjectTeam</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Sorry, there are no members of Project Team Identified for this Project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProjectTeamersNoPermission</name>
        <label>ProjectTeamersNoPermission</label>
        <locationX>811</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPermission</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You do not have permission to Send Status update.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectPTMembers</name>
        <label>SelectPTMembers</label>
        <locationX>697</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <fields>
            <name>SelectPTMembers_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectPTMembers_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrjectName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ProjectName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectPTMembers_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PTDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>inspire1__Project_Team__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Project_Team</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;inspire1__Resource_Name__c&quot;,&quot;guid&quot;:&quot;column-f86e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Resource Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;inspire1__Role__c&quot;,&quot;guid&quot;:&quot;column-9677&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>757</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TeamerhasPermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CutToLengthMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DirectMailerMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DirectReplacementMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailNotificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstimatedNoofOnlineTechnicalPagesMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstNoOfPhotosMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncludesDropShipItemsMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialStockingOrderDolAmountMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISODeliveryDateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ISOPurchaseOrderNoMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastTimeBuyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LineExtMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManualRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSupplierMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoOfPlartsMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PercentCompleteMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlannedFinishMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlannedStartMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriceChangeTypeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductAdvisoryMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductInsertorSupplementorQSGMessge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductManagerPriceChangeDueDateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Projected3rdYearSalesMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectManagerText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetProjectName.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>SiloMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SilosAffectedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedReplacementMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SupplierBrandorPrivateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuppliersNameMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ValueAddServicesRequiredMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmails2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNewStatusUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedTeamerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamerSelectedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamRecordNewwithRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WebNoteMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
