unpackaged/main/default/flows/Project_Add_Project_to_Portfolio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Systematicall Adds the Project to the indicated Portfolio</description>
    <environments>Default</environments>
    <interviewLabel>Project - Add Project to Portfolio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Add Project to Portfolio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Project_to_Indicated_Portfolio</name>
        <label>Add Project to Indicated Portfolio</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>inspire1__Project_Portfolio__c</field>
            <value>
                <elementReference>Get_Portfolio_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__User_Portfolio_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Portfolio_Record</name>
        <label>Get Portfolio Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Project_to_Indicated_Portfolio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Portfolio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Portfolio_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
