unpackaged/main/default/flows/Project_Populate_Members_Overview_Pricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Customer_eXperience_Team_Lead</name>
        <label>Assign Customer eXperience Team Lead</label>
        <locationX>1584</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_eXperience_Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_eXperience_Team_Lead_2</name>
        <label>Assign Customer eXperience Team Lead 2</label>
        <locationX>1848</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_eXperience_Team_Lead2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Documentation_Team_Lead</name>
        <label>Assign Documentation Team Lead</label>
        <locationX>1320</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Documentation_Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Product_Launch_Specialist</name>
        <label>Assign FIT Product Launch Specialist</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Product_Launch_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FIT_Team_Captain</name>
        <label>Assign FIT Team Captain</label>
        <locationX>1056</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIT_Team_Captain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PIM_Launch_Data_Steward</name>
        <label>Assign PIM Launch Data Steward</label>
        <locationX>528</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.PIM_Launch_Data_Steward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PIM_Team_Lead</name>
        <label>Assign PIM Team Lead</label>
        <locationX>792</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.PIM_Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Silo_Members.Teamer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Overview_Page_Role</name>
        <label>Determine Overview Page Role</label>
        <locationX>1188</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FIT_Product_Launch_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Product Launch Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Product_Launch_Specialist</targetReference>
            </connector>
            <label>FIT Product Launch Specialist</label>
        </rules>
        <rules>
            <name>PIM_Launch_Data_Steward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIM Launch Data Steward</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PIM_Launch_Data_Steward</targetReference>
            </connector>
            <label>PIM Launch Data Steward</label>
        </rules>
        <rules>
            <name>PIM_Team_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIM Team Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PIM_Team_Lead</targetReference>
            </connector>
            <label>PIM Team Lead</label>
        </rules>
        <rules>
            <name>FIT_Team_Captain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIT Team Captain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FIT_Team_Captain</targetReference>
            </connector>
            <label>FIT Team Captain</label>
        </rules>
        <rules>
            <name>DocumentationTeamLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation Team Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Documentation_Team_Lead</targetReference>
            </connector>
            <label>Documentation Team Lead</label>
        </rules>
        <rules>
            <name>Customer_eXperience_Team_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer eXperience Team Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_eXperience_Team_Lead</targetReference>
            </connector>
            <label>Customer eXperience Team Lead</label>
        </rules>
        <rules>
            <name>Customer_eXperience_Team_Lead_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Silo_Members.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer eXperience Team Lead 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_eXperience_Team_Lead_2</targetReference>
            </connector>
            <label>Customer eXperience Team Lead 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Record_Type</name>
        <label>Switch Record Type</label>
        <locationX>1738</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Overview_Page_Role</targetReference>
            </connector>
            <label>Pricing Project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Populate Members Overview Pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Populate Members Overview Pricing</label>
    <loops>
        <name>Loop_thru_Silo_Members</name>
        <label>Loop thru Silo Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Silo_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Switch_Record_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Silo_Members</name>
        <label>Get Silo Members</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Silo_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Silo_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Silo_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>varFITTechnicalMarketer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductEngineerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Get the Silo that is selected</description>
        <name>varSilo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
