unpackaged/main/default/flows/Project_Mark_Project_Tasks_ADC_Ready.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Add the updated Project Task to the Collection</description>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>477</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>ProjectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Product_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Product_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_ADC_Ready</name>
        <label>Assign Project Task ADC Ready</label>
        <locationX>634</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Product_Tasks.ADC_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TeamerHavePermission</name>
        <label>TeamerHavePermission?</label>
        <locationX>521</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>DoNotMarkADCReady</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectAdminsCustomPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Project_Admins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Record</targetReference>
            </connector>
            <label>ProjectAdminsCustomPermission</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Mark Project Tasks ADC Ready {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Mark Project Tasks ADC Ready</label>
    <loops>
        <name>Loop_thru_Product_Tasks</name>
        <label>Loop thru Product Tasks</label>
        <locationX>638</locationX>
        <locationY>486</locationY>
        <collectionReference>Get_Project_Tasks_that_are_not_ADC_Ready</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Task_ADC_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Tasks_to_ADC_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>670</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Tasks_that_are_not_ADC_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Tasks_that_are_not_ADC_Ready</name>
        <label>Get Project Tasks that are not ADC Ready</label>
        <locationX>674</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Product_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ADC_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Tasks__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ADC_Ready__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Tasks_to_ADC_Ready</name>
        <label>Update Project Tasks to ADC Ready</label>
        <locationX>901</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>FlowFinished</targetReference>
        </connector>
        <inputReference>ProjectTaskCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>DoNotMarkADCReady</name>
        <label>DoNotMarkADCReady</label>
        <locationX>305</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPermission</name>
            <fieldText>&lt;p&gt;You do not have permission to mark Project ADC Ready&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowFinished</name>
        <label>FlowFinished</label>
        <locationX>1032</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Congratulations! Your project is now ADC Ready!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TeamerHavePermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Tasks__c</objectType>
    </variables>
    <variables>
        <description>get current Project Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
