unpackaged/main/default/flows/Project_Reassign_Portfolio_when_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_Portfolio_Stil_Exists</name>
        <label>Does Portfolio Stil Exists?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreviousPortfolioExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Portfolio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Project_from_Previous_Portfolio</targetReference>
            </connector>
            <label>PreviousPortfolioExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project - Reassign Portfolio when Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Reassign Portfolio when Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Project_to_New_Portfolio</name>
        <label>Add Project to New Portfolio</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Does_Portfolio_Stil_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>inspire1__Project_Portfolio__c</field>
            <value>
                <elementReference>Get_Portfolio_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__User_Portfolio_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Project_from_Previous_Portfolio</name>
        <label>Remove Project from Previous Portfolio</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project_Portfolio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Portfolio__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>inspire1__User_Portfolio_Project__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Portfolio_Record</name>
        <label>Get Portfolio Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Project_to_New_Portfolio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Portfolio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Portfolio_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
