unpackaged/main/default/flows/Send_Email_to_Launch_Teamers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to all Launch Teamers related to the launch</description>
        <name>Send_Email_To_All_Launch_Teamers1</name>
        <label>Send Email To All Launch Teamers1</label>
        <locationX>397</locationX>
        <locationY>226</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_To_All_Launch_Teamers2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Get_Launch_Record.Manager__r.Email},{!Get_Launch_Record.Product_Engineer__r.Email},{!Get_Launch_Record.Product_Manager__r.Email},{!Get_Launch_Record.Product_Availability_Planner__r.Email},{!Get_Launch_Record.Technical_Writer__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_All_Launch_Teamers2</name>
        <label>Send Email To All Launch Teamers2</label>
        <locationX>399</locationX>
        <locationY>369</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Get_Launch_Record.Graphics_Contact__r.Email},{!Get_Launch_Record.CAD_Specialist__r.Email},{!Get_Launch_Record.Logistical_Launch_Coordinator__r.Email},{!Get_Launch_Record.Logistical_Traffic_Coordinator__r.Email},{!Get_Launch_Record.FIT_Product_Launch_Specialist__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers3</name>
        <label>Send EMail to All Launch Teamers3</label>
        <locationX>398</locationX>
        <locationY>495</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Get_Launch_Record.Online_Marketing_Specialist__r.Email},{!Get_Launch_Record.Logistics_Compliance_Lead__r.Email},{!Get_Launch_Record.CSI_eCommerce_Content_Coordinator__r.Email},{!Get_Launch_Record.Technical_Marketer__r.Email},{!Get_Launch_Record.PIM_Product_Data_Steward__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers4</name>
        <label>Send EMail to All Launch Teamers4</label>
        <locationX>539</locationX>
        <locationY>491</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Get_Launch_Record.Help_File_Writer__r.Email},pbaker@automationdirect.com,rharless@Automationdirect.com,kheard@Automationdirect.com,leisa@Automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers5</name>
        <label>Send EMail to All Launch Teamers5</label>
        <locationX>666</locationX>
        <locationY>497</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kdeveikis@automationdirect.com,jhamelly@automationdirect.com,arobinson@Automationdirect.com,RSlabaugh@Automationdirect.com,jcapo@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers6</name>
        <label>Send EMail to All Launch Teamers6</label>
        <locationX>811</locationX>
        <locationY>490</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers7</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>pnahata@automationdirect.com,athompson@Automationdirect.com,jwelty@Automationdirect.com,jstegall@Automationdirect.com,mmullins@Automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers7</name>
        <label>Send EMail to All Launch Teamers7</label>
        <locationX>942</locationX>
        <locationY>495</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_All_Launch_Teamers8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>JHipple@Automationdirect.com,cmcdaniel@Automationdirect.com,mcollett@automationdirect.com,cgreen@automationdirect.com,fmaddie@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_All_Launch_Teamers8</name>
        <label>Send EMail to All Launch Teamers8</label>
        <locationX>1073</locationX>
        <locationY>451</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>bmiller@Automationdirect.com,GNix@Automationdirect.com,chamilton@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Is launch in Progress</description>
        <name>IsLaunchActive</name>
        <label>IsLaunchActive</label>
        <locationX>175</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLaunchINprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Launch_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_All_Launch_Teamers1</targetReference>
            </connector>
            <label>IsLaunchINprogress</label>
        </rules>
    </decisions>
    <formulas>
        <description>Break Line in Email sent</description>
        <name>NewLine2</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Send Email to Launch Teamers {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Email to Launch Teamers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Sends an email to all relative Launch Users that Product Testing is Complete and Launch is ready</description>
        <name>Get_Launch_Record</name>
        <label>Get Launch Record</label>
        <locationX>180</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLaunchActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Launch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the current Launch Record to Closed</description>
        <name>Update_Launch_Record_to_Closed</name>
        <label>Update Launch Record to Closed</label>
        <locationX>1031</locationX>
        <locationY>164</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Launch__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Launch_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Additional Emails is not blank capture the email addresses</description>
        <name>AdditionalEmailsNotBlank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Message Body</description>
        <name>MessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!Get_Launch_Record.Name} is Ready for Launch. {!NewLine2}{!NewLine2}Follow this link to view testing environment:{!NewLine2} https://future.automationdirect.com/adc/home/home {!NewLine2}{!NewLine2}Follow this link to view SF Cases on Launch:{!NewLine2} https://automationdirectinc.lightning.force.com/lightning/r/Launch__c/{!Get_Launch_Record.Id}/view{!NewLine2}NOTE:  You must have a Salesforce License to view Launch Record in Salesforce.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Message Subject to be changed between environments</description>
        <name>MessageSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> {!Get_Launch_Record.Name} is Ready for Launch</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record Id of the Launch</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ProductLaunch Address</description>
        <name>varProductLaunch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>productlaunch@automationdirect.com</stringValue>
        </value>
    </variables>
</Flow>
