unpackaged/main/default/flows/Send_Case_Emails_to_Tech_Leads_when_BE_Case_changes_and_Tech_Unavailable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an Email to Tech Leads when there is a new email on a case when Customer Responds</description>
        <name>Send_Email_Notification_that_there_is_a_new_Customer_Response</name>
        <label>Send Email Notification that there is a new Customer Response</label>
        <locationX>392</locationX>
        <locationY>177</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ddinkins@automationdirect.com,bperry@automationdirect.com,rlewis@automationdirect.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New BE Case Update :  {!Get_Case_Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Send Case Emails to Tech Leads when BE Case changes and Tech Unavailable</description>
    <interviewLabel>Send Case Emails to Tech {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Case Emails to Tech Leads when BE Case changes and Tech Unavailable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Case Record whose owner is Tech Support User and Unavailable</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>111</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Notification_that_there_is_a_new_Customer_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Message Body for Current Environment</description>
        <name>MessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tech owner is currently unavailable.  There is an update on BE Case :  {!Get_Case_Record.CaseNumber}.  Follow this link to view case emails https://automationdirectinc.lightning.force.com/lightning/r/Case/{!varCaseId}/view</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
