unpackaged/main/default/flows/Send_Email_to_Launch_Teamers_Prelaunch_Testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EMail_to_Group_Member</name>
        <label>Send EMail to Group Member</label>
        <locationX>187</locationX>
        <locationY>810</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Email_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Thru_Email_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varProductLaunchEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MessageSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign Group Members Emails to Collection</description>
        <name>Assign_Group_Members_Emails_to_Collection</name>
        <label>Assign Group Members Emails to Collection</label>
        <locationX>710</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Queue_Members.Member.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Launch Member EMails to Collection</description>
        <name>Assign_Launch_Emails_to_collecton</name>
        <label>Assign Launch Emails to collecton</label>
        <locationX>555</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Product_Engineer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Product_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Product_Availability_Planner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Technical_Writer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Graphics_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.CAD_Specialist__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Logistical_Launch_Coordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Logistical_Traffic_Coordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.FIT_Product_Launch_Specialist__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Online_Marketing_Specialist__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Logistics_Compliance_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.CSI_eCommerce_Content_Coordinator__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Technical_Marketer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.PIM_Product_Data_Steward__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.Help_File_Writer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.FIT_Overview_Content_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Launch_Record.LogisticalLaunchCoordinator2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set varSendEMail to Current Collection EMail</description>
        <name>Assign_varSend_Email_Variable</name>
        <label>Assign varSend Email Variable</label>
        <locationX>21</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>varSendEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Email_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsVarSendEmailNotNull</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Sort the Email Collection</description>
        <name>CollectionSort_for_EMails</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>CollectionSort for EMails</label>
        <locationX>548</locationX>
        <locationY>523</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>CollectionofEmailAddress</collectionReference>
        <connector>
            <targetReference>Loop_Thru_Email_Collection</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>IsCurrentEMailNOTSameasLast</name>
        <label>IsCurrentEMailNOTSameasLast</label>
        <locationX>187</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Email_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentEMailNOTSameasDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Email_Collection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSendEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varSend_Email_Variable</targetReference>
            </connector>
            <label>IsCurrentEMailNOTSameasDecision</label>
        </rules>
    </decisions>
    <decisions>
        <description>VarSendEMail cannot be null to send email</description>
        <name>IsVarSendEmailNotNull</name>
        <label>IsVarSendEmailNotNull</label>
        <locationX>40</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Email_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VarSendEMailNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_EMail_to_Group_Member</targetReference>
            </connector>
            <label>VarSendEMailNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Launch is Not closed change status to In Progress</description>
        <name>Launch_is_not_Closed</name>
        <label>Launch is not Closed</label>
        <locationX>221</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLaunchNotClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Launch_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Launch_Record.Prelaunch_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Launch_Status_to_In_Progress</targetReference>
            </connector>
            <label>IsLaunchNotClosed</label>
        </rules>
    </decisions>
    <description>Send Emails Notification to Key Prelaunch Users</description>
    <environments>Default</environments>
    <formulas>
        <description>Hyperlinkto current Launch Record</description>
        <name>LaunchHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!Get_Launch_Record.Id}, &quot;/view&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewLine2</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Send Email to Launch Teamers Pre-Launch Testin {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Email to Launch Teamers PreLaunch Testing</label>
    <loops>
        <description>Loop Thru Email Collection</description>
        <name>Loop_Thru_Email_Collection</name>
        <label>Loop Thru Email Collection</label>
        <locationX>423</locationX>
        <locationY>517</locationY>
        <collectionReference>CollectionofEmailAddress</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCurrentEMailNOTSameasLast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Launch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop thru Queue Members</description>
        <name>Loop_thru_Queue_Members</name>
        <label>Loop thru Queue Members</label>
        <locationX>700</locationX>
        <locationY>522</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Members_Emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CollectionSort_for_EMails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>791</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCM Prelaunch Testing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Group Members of LCM Prelaunch Queue</description>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>910</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Sends an email to all relative Launch Users that Product Testing is Complete and Launch is ready</description>
        <name>Get_Launch_Record</name>
        <label>Get Launch Record</label>
        <locationX>59</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_is_not_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Launch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Launch</name>
        <label>Update Launch</label>
        <locationX>426</locationX>
        <locationY>770</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prelaunch_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Launch__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Launch Status to In Progress</description>
        <name>Update_Launch_Status_to_In_Progress</name>
        <label>Update Launch Status to In Progress</label>
        <locationX>402</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Assign_Launch_Emails_to_collecton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Launch__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Launch_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionofEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>MEssage Body varialbe to change</description>
        <name>MessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!Get_Launch_Record.Name} is Ready for PreLaunch Testing. {!NewLine2}{!NewLine2}Follow this link to view testing environment:{!NewLine2} https://future.automationdirect.com/adc/home/home {!NewLine2}{!NewLine2}Follow this link to view SF Cases on Launch:{!NewLine2} https://automationdirectinc.lightning.force.com/lightning/r/Launch__c/{!Get_Launch_Record.Id}/view{!NewLine2}NOTE:  You must have a Salesforce License to view Launch Record in Salesforce.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Message Subject</description>
        <name>MessageSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> {!Get_Launch_Record.Name} is Ready for Prelaunch Testing</stringValue>
        </value>
    </variables>
    <variables>
        <description>New Line for Email Templates</description>
        <name>NewLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>BR()</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record Id of the Launch</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is a test from SF Sandbox</description>
        <name>TestFromSFSandbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>This is a TEST from SF Sandbox</stringValue>
        </value>
    </variables>
    <variables>
        <description>productlaunch email</description>
        <name>varProductLaunchEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>productlaunch@automationdirect.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>Email for each Item in Collection to send the email</description>
        <name>varSendEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
