unpackaged/main/default/flows/Set_Owner_to_Silo_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsAgencyApproval</name>
        <label>IsAgencyApproval</label>
        <locationX>317</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>ReferenceCustomMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Agency Approval</defaultConnectorLabel>
        <rules>
            <name>Is_Agency_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Agency_Approval_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReferenceCustomMetadataApprovalAgency</targetReference>
            </connector>
            <label>Is Agency Approval</label>
        </rules>
    </decisions>
    <description>Sets Owner to Silo Queue leveraging custom metadata.</description>
    <interviewLabel>Set Owner to Silo Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Owner to Silo Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAgencyApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>All_BE_Fields_Filled_Out__c</queriedFields>
        <queriedFields>Silo__c</queriedFields>
        <queriedFields>Agency_Approval_Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReferenceCustomMetadata</name>
        <label>ReferenceCustomMetadata</label>
        <locationX>572</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_to_Silo_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Silo__c</elementReference>
            </value>
        </filters>
        <object>Silos_and_Questionnaire__mdt</object>
        <outputReference>varSiloandQuestionnaireRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Queue_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReferenceCustomMetadataApprovalAgency</name>
        <label>ReferenceCustomMetadataApprovalAgency</label>
        <locationX>561</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_to_Silo_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Approval</stringValue>
            </value>
        </filters>
        <object>Silos_and_Questionnaire__mdt</object>
        <outputReference>varSiloandQuestionnaireRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Queue_Id__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner_to_Silo_Queue</name>
        <label>Set Owner to Silo Queue</label>
        <locationX>726</locationX>
        <locationY>61</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSiloandQuestionnaireRecord.Queue_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varQueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>varSiloandQuestionnaireRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Silos_and_Questionnaire__mdt</objectType>
    </variables>
</Flow>
