unpackaged/main/default/flows/Task_Mark_Project_Task_Complete_when_Multiple_Task_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Single_Task_Record_to_Completed</name>
        <label>Assign Single Task Record to Completed</label>
        <locationX>1196</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>varTaskSingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_SF_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_to_Task_Collection</name>
        <label>Assign Task to Task Collection</label>
        <locationX>1234</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>varTAskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_SF_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_SF_Project_Tasks</name>
        <label>Count of SF Project Tasks</label>
        <locationX>882</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varCountTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Related_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tasks_Count_Greater_than_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Not_equal_Current_Task</name>
        <label>Does Not equal Current Task</label>
        <locationX>997</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_SF_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesNotEqualCurrentTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_SF_Tasks.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Task_Record_to_Completed</targetReference>
            </connector>
            <label>DoesNotEqualCurrentTask</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Count_Greater_than_1</name>
        <label>Tasks Count Greater than 1</label>
        <locationX>882</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTaskCountGreaterthan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_SF_Tasks</targetReference>
            </connector>
            <label>IsTaskCountGreaterthan1?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Mark Project Task Complete when Multiple Task Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Mark Project Task Complete when Multiple Task Owners</label>
    <loops>
        <name>Loop_thru_SF_Tasks</name>
        <label>Loop thru SF Tasks</label>
        <locationX>750</locationX>
        <locationY>743</locationY>
        <collectionReference>Get_All_Related_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Not_equal_Current_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SF_Tasks_to_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Tasks</name>
        <label>Get All Related Tasks</label>
        <locationX>882</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_SF_Project_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Inspire_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inspire1__Inspire_Task__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SF_Tasks_to_Completed</name>
        <label>Update SF Tasks to Completed</label>
        <locationX>787</locationX>
        <locationY>1109</locationY>
        <inputReference>varTAskCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_Related_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>inspire1__Inspire_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCountTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTAskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
