unpackaged/main/default/flows/X1st_Email_Response_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Gets the 1st Email Response on individual Case and update 1st Email Activity field on Case</description>
    <interviewLabel>1st Email Response on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1st Email Response on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Email Messages for the Case that was passed in</description>
        <name>Email_Message_Records_for_Case</name>
        <label>Email Message Records for Case</label>
        <locationX>231</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_1st_Email_Response_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>var1stEmailResponseDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates Cases 1st Email Response Field when an Email is outbound and responding to customer</description>
        <name>Update_Case_1st_Email_Response_Field</name>
        <label>Update Case 1st Email Response Field</label>
        <locationX>416</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Owner_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Support User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Email_Response__c</field>
            <value>
                <elementReference>var1stEmailResponseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Email_Message_Records_for_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Loop for EMail Messages</description>
        <name>LoopEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Store the minimum created date of the Email for the Case in this variable</description>
        <name>var1stEmailResponseDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var1stEmailResponseDate2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-01-23</dateValue>
        </value>
    </variables>
    <variables>
        <description>Case Id of the case passed in from process Builder</description>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Email Message Id passed in from process Builder</description>
        <name>varEmailMessageId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
